<div class="menu_wrap">
  <div class="profile_info">
    <div class="profile_image">
      <%= image_tag(current_user.image.url, :size => '53x53') %>
    </div>
    <div class="text">
      <p><%= current_user.first_name %><br />
        <%= current_user.last_name %><br />
        HCP : <%= current_user.hcp%><br />
        <%= current_user.golf_club.presence || "No Home Club" %><br />
        <%= link_to "Edit profile", edit_user_path %>
        |
        <%= link_to t("form.logout"), logout_path %>
      </p>
    </div>
  </div>
  <div class="icon_wrap">
    <div class="link_wrap">
      <a href="<%= loged_in_path %>"><img src="/images/home_icon.png" alt="" /><p>Home</p></a>
    </div>
    <div class="link_wrap">
      <a href="<%= game_index_path%>"><img src="/images/games_icon.png" alt="" /><p>My games</p></a>
    </div>
    <div class="link_wrap">
      <a href="<%= bag_user_path %>"><img src="/images/bag_icon.png" alt="" /><p>My bag</p></a>
    </div>
    <div class="link_wrap">
      <a href="<%= main_statistic_path(:user_id => current_user.id, :field_id => Field.find(current_user.golf_club.id)) %>"><img src="/images/results_icon.png" alt="" /><p>Statistics</p></a>
    </div>
    <% if current_user.get_administrate_golf_club  %>
      <div class="link_wrap">
        <a href="<%= golf_club_path %>"><img src="/images/club_icon.png" alt="" /><p>My Club</p></a>
      </div>
    <% end %>
    <div class="link_wrap">
      <a href="<%= new_game_path('res')%>"><img src="/images/results_input_icon.png" alt="" /><p>Game result</p></a>
    </div>
    <div class="link_wrap">
      <a href="<%= new_game_path('plan') %>"><img src="/images/plan_icon.png" alt="" /><p>Game plan</p></a>
    </div>
  </div>
</div>


<% if current_user.golf_club %>
  <%  if current_user.golf_club.is_p_banner_disabled == false %>
    <div class="club_banner">
      <img src="<%=current_user.golf_club.image_p.url%>" alt=""  width="900px" height="100px"/>
    </div>
  <%  elsif current_user.golf_club.is_f_banner_disabled == false %>
    <div class="club_banner">
      <img src="<%=current_user.golf_club.image_f.url%>" alt=""  width="900px" height="100px"/>
    </div>
  <%  end %>
<%  end %>















