
==========================================================================================
<br />This is header menu
<br /><br />

------------------------------
<br /><u>Debug:</u><br />
ID: <%= current_user.id %> 
<br />
------------------------------
<br /><br />

<table border="1">

<tr>
  <td><%= image_tag(current_user.image.url, :size => '53x53') %></td>
  <td><%= current_user.first_name %></td>
</tr>
<tr>
  <td></td>
  <td><%= current_user.last_name %></td>
</tr>
<tr>
  <td></td>
  <td>HCP: <%= current_user.hcp%></td>
</tr>
<tr>
  <td></td>
  <td>
  
<%= current_user.golf_club.presence || "No Home Club" %>
  
  </td>
</tr>
</table>
<br />
<%= link_to t("form.logout"), logout_path %>


<br />
<%= link_to "Labot profilu", edit_user_path %>
<br /><br /><br />



<%= link_to "SÄkums", loged_in_path %>

<% if current_user && current_user.get_administrate_golf_club %>
    <%= link_to "Klubs", golf_clubs_path %>
<% end %>


<br /><br />
==========================================================================================





















