
==========================================================================================
<br />This is header menu
<br /><br />
<table border="1">

<tr>
  <td>image here</td>
  <td><%= current_user.first_name %></td>
</tr>
<tr>
  <td></td>
  <td><%= current_user.last_name %></td>
</tr>
<tr>
  <td></td>
  <td>HCP: <%= current_user.hcp%></td>
</tr>
<tr>
  <td></td>
  <td>Klubs "<%= current_user.golf_club.name %>"</td>
</tr>
</table>
<br />
<%= link_to t("form.logout"), logout_path %>


<br />
<%= link_to "Labot profilu", edit_user_path(current_user) %>
<br /><br /><br />



<%= link_to "SÄkums", loged_in_path %>

<% if current_user.admin  %>
    <%= link_to "Klubs", clubs_path %>
<% end %>


<br /><br />
==========================================================================================