<h1>Golf club "<%= @golf_club.name%>"</h1>

<%= form_for(@golf_club, :url => admin_golf_club_path)  do |f| %>


  <div class="form_edit">


    <div class="column">
      <div class="item">Name:</div>
      <div class="item">Country:</div>
      <div class="item">Region:</div>
      <div class="item">City:</div>
      <div class="item">Web Page:</div>
      <div class="item"><%= f.label "Accept club?" %></div>
    </div>

    <div class="column">
      <div class="item"><%= @golf_club.name%></div>
      <div class="item"><%= @golf_club.country.name%></div>
      <div class="item"><%= @golf_club.region%></div>
      <div class="item"><%= @golf_club.city%></div>
      <div class="item"><%= @golf_club.web_page%></div>
      <div class="item"><%= select_tag "status", options_for_select([ "unknown", "yes", "no"],@golf_club.accepted) %></div>
    </div>

    <div class="item"><%= f.submit "Save"%></div>

  </div>

<% end %>