<h2>Golf club "<%= @golf_club.name%>"</h2>

<%= form_for @golf_club, :url => admin_golf_club_path, :html => { :multipart => true }  do |f| %>


  <div class="form_edit">


    <div class="column">
      <div class="item">Added:</div>
      <div class="item">Name:</div>
			<div class="item">Short name:</div>
      <div class="item">Country:</div>
      <div class="item">Region:</div>
      <div class="item">City:</div>
      <div class="item">Web Page:</div>
			<div class="item">Display top banners?</div>
			<div class="item">Custom side banner?</div>
      <div class="item">
        <%= f.label "Accept club?" %>
        <%= select_tag "status", options_for_select([ "unknown", "yes", "no"],@golf_club.accepted) %>
      </div>
			
    </div>

    <div class="column">
      <% @user = User.find(@golf_club.user_id) %>
      <div class="item"><%= @user.first_name %> <%= @user.last_name %></div>
      <div class="item"><%= @golf_club.name%></div>
			<div class="item"><%= f.text_field :short_name %></div>
      <div class="item"><%= @golf_club.country.name%></div>
      <div class="item"><%= @golf_club.region%></div>
      <div class="item"><%= @golf_club.city%></div>
      <div class="item"><%= @golf_club.web_page%></div>
			<div class="item"><%= f.radio_button :is_f_banner_disabled, true %> No <%= f.radio_button :is_f_banner_disabled, false %> Yes</div>
			<div class="item"><%= f.radio_button :is_v_banner_disabled, true, :onclick => "$('.vertical_banner').toggle();" %> No <%= f.radio_button :is_v_banner_disabled, false, :onclick => "$('.vertical_banner').toggle();" %> Yes</div>
      <div class="item"><%= f.submit "Save"%></div>
    </div>
		<div class="clear"></div>
		<div class="column">
      <div class="item">Fields:</div>
			<div class="item">Name</div>
      <% @golf_club.fields.each do |field| %>
				<div class="item"><%= field.name %></div>
			<% end %>
      
    </div>
		<div class="column">
			<div class="item"></div>
			<div class="item">Short name</div>
				<% @golf_club.fields.each do |field| %>
					<%= f.fields_for :fields, field do |k| %>
						<div class="item"><%= k.text_field :short_name %></div>
					<% end %>
				<% end %>
		</div>

    <div class="banner_box">
      <div class="banner_title" onclick="">Left top banner(700*100px)</div>
      <div class="banner_wrap">
        <%= image_tag(@golf_club.image_f.url) %>
        <%= f.file_field :image_f %>
      </div>
    </div>




    <div class="banner_box">
      <div class="banner_title" onclick="">Right top banner(200*100px)</div>
      <div class="banner_wrap">
        <%= image_tag(@golf_club.image_p.url) %>
        <%= f.file_field :image_p %>
      </div>
    </div>


		<% if @golf_club.is_v_banner_disabled == true %> 
    	<div class="banner_box vertical_banner" style="">
		<% else %>
			<div class="banner_box vertical_banner" style="display:none">
		<% end %>
      <div class="banner_title" onclick="">Side banner(160*470px)</div>
      <div class="banner_wrap">
        <%= image_tag(@golf_club.image_v.url) %>
        <%= f.file_field :image_v %>
      </div>
    </div>
		

		


  </div>

<% end %>
