<h1>Listing golf clubs</h1>
  
  
  <div class="table_listing"
    <b>
    <div class="row">
      <div class="item">Pievienoja</div>
      <div class="item">Name</div>
      <div class="item">Region</div>
      <div class="item">Accepted</div>
      <div class="item">To Do</div>
    </div>
    </b>
    <% @clubs.each do |club| %>
    <div class="row">
      <% @user = User.find(club.user_id) %>
      <div class="item"><%= @user.first_name %> <%= @user.last_name %></div>
      <div class="item"><%= club.name %></div>
      <div class="item"><%= club.city %></div>
      <div class="item"><%= club.accepted %></div>
      <div class="item"><%= link_to 'Edit', edit_admin_golf_club_path(club.id) %></div>
    </div>
    <% end %>

  </div>




