<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_club"} %>


<%= render 'golf_club/links_menu'%>

<div class="side_ad_wrap" style="margin:10px">
	<p><a href="/side_ad/new"  class="green_button"> New ad </a></p>

	<h1> List of advertisements </h1>
	<div class="adlist">
		<% @side_ads.each do |ad| %>
			<p><%=ad.header%> | <%= link_to "Delete", "/side_ad/#{ad.id}", :confirm => 'Are you sure you want to delete this ad?', :method => 'delete', :class => "side_ad_delete_link" %> | <%= link_to "Edit", edit_side_ad_path(ad.id), :class => "side_ad_edit_link" %> </p>
		<% end %>
	</div>

</div>

<% if current_user.golf_club.is_v_banner_disabled == false %>

<div class="side_ad_wrap" style="margin:10px">
	<h1> Golf club side banner </h1>
	<div class="side_banner_edit" style="margin:10px;float:left;width:200px">
		<img src="<%=current_user.golf_club.image_v.url%>" width="160px" height="469px" alt=""/>
	</div>
	<div style="width:600px;margin:10px;float:right">
	<%= form_for current_user.golf_club, :html => {:url => '/golf_club/update_banner', :multipart => true} do |c|%>
		<p> Bear in mind that banner dimensions have to be 169px x 469px ! </p>
		<%= c.file_field :image_v %>
		<%= c.submit "Update Banner"%>
	<% end %>
	</div>

</div>

<% end %>
