<div class="site_wrapper">
	<div class="header_wrap">
		<div class="logo_wrap"></div>
	</div>
	
	<div class="menu_wrap">
		<div class="profile_info">
			<div class="profile_image">
				<img src="/images/default_profile.png" alt=""/>
			</div>
			<div class="text">
				<p><%= @user.first_name%><br><%= @user.last_name%><br>HCP : 36<br>Klubs <%= @golf_club.name%><br><a href="#">Labot profilu</a></p>
			</div>
		</div>
		<div class="icon_wrap">
			<div class="link_wrap">
				<a href="#"><img src="/images/home_icon.png"/><p>Sakums</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/games_icon.png"/><p>Manas speles</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/bag_icon.png"/><p>Mana soma</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/results_icon.png"/><p>Statistika</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/club_icon.png"/><p>Mans klubs</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/results_input_icon.png"/><p>Speles rezultati</p></a>
			</div>
			
			<div class="link_wrap">
				<a href="#"><img src="/images/plan_icon.png"/><p>Speles plans</p></a>
			</div>
		</div>
	</div>
	
	<div class="short_statistics_wrap">
		<div class="top_three">
			<div class="left_text">
				<p>GIR:<br>Puts:<br>Strokes:</p>
			</div>
			
			<div class="right_text">
				<p>2<br>54<br>2964</p>
			</div>
		</div>
		
		<div class="top_three">
			<p>TOP FAIL</p>
			<div class="left_text">
				<p>I3:<br>Driver 2:<br>Wood2:</p>
			</div>
			
			<div class="right_text">
				<p>2<br>54<br>2964</p>
			</div>
		</div>
		
		<div class="top_three">
			<p>TOP GOOD</p>
			<div class="left_text">
				<p>Putter 1:<br>Driver 2:<br>Wood2:</p>
			</div>
			
			<div class="right_text">
				<p>332<br>4<br>24</p>
			</div>
		</div>
		
		<div class="top_three">
			<p>TOP NUJAS</p>
			<div class="left_text">
				<p>Putter 1:<br>Driver 2:<br>Wood2:</p>
			</div>
			
			<div class="right_text">
				<p>332<span class="gray">x</span><br>4<span class="gray">x</span><br>24<span class="gray">x</span></p>
			</div>
		</div>
		
		<div class="club_stats">
			<div class="info_text">
				<p>Tava vieta golfa kluba "Viesturi"</p>
			</div>
			<div class="form_dropdowns">
				<form action="#" method="post" class="dropdown1">
					<select size="1" name="club" id="dropdown1">
						<option value="Laukums">Laukums</option>
						<option value="Ozo">Ozo</option>
						<option value="Ozo">Testa klubs tests</option>
						<option value="Ozo">Viesturi</option>
					</select>
					
					<select size="1" name="club" id="dropdown1">
						<option value="GIR">GIR</option>
						<option value="3">Par 3</option>
						<option value="4">Par 4</option>
						<option value="5">Par 5</option>
					</select>
				</form>
			</div>
			<div class="lists">
			<p>1. Edgars Upitis<br>2. Janis Klava<br>3. Arturs Pakalns</p>
			</div>
			<div class="lists">
			<p>4. Karlis Padegs<br>5. Vilhelms Purvitis<br>6. Jazeps Vitols</p>
			</div>
			<div class="lists">
			<p>7. Viktors Nicivosebejs<br>8. Edgars Upitis<br>9. Edgars Upitis</p>
			</div>
		</div>
	</div>

	<div class="game_list_percentage_wrap">
		<div class="heading">
			<p>Tavas speles:</p>
		</div>
		<a href="#"><div class="single_game_field">
			<p>Visu spelu statistika</p>
		</div></a>
		<div class="link_left_wrap">
			<a href="#"><img src="/images/link_left_big.png" alt=""/></a>
		</div>
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
		
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
		
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
		
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
		
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
		
		<a href="#"><div class="single_game_field">
			<div class="percentage"><p>60%</p></div>
			<div class="date"><p>01.02.03</p></div>
		</div></a>
	
		<div class="link_right_wrap">
			<a href="#"><img src="/images/link_right_big.png" alt=""/></a>
		</div>
	</div>
	<!-- Nujas -->
	<div class="main_stats_table_wrap">
		<div class="clubs_wrap">
			<div class="page_left">
				<a href="#"><img src="/images/link_left_big.png" alt=""/></a>
			</div>
			<%  @user.users_sticks.each do |stick|%>
			<div class="single_club_wrap">
				<div class="club_name">
					<p><%= stick.stick.stick_type%></p>
				</div>
				<div class="progress_bar">
					<div class="progress_active normal" style="width:55%">
					</div>
				</div>
				<div class="info">

					<p>USAGE 15%<br>AVG. 170m</p>
				</div>
			</div>
			<% end %>
	<!-- Nujas end -->

			<div class="page_left">
				<a href="#"><img src="/images/link_right_big.png" alt=""/></a>
			</div>
		</div>
		
	<div class="situation_type">
			<a href="javascript:toggleLayer('location');"><div class="name_wrap">
				<p>Vieta</p>
				<img src="/images/link_right_small.png" alt=""/>
			</div>
			<div class="info_wrap">
				<img src="/images/table_icon_location.png" alt=""/>
				<div class="description">
					<p>Vieta, no kuras notika sitiens</p>
				</div>
			</div></a>
			
			<div class="single_situation" id="location">
				<div class="name">
					<p>Teebox</p>
				</div>
				<!-- counter - lai dinamiski varetu pieskrit tip Id un atvert popupu -->
				<% @counter = 0%>
				<%  @results.each do |result|%>
				<%  @counter = @counter + 1%>
					<div class="progress_block">
						<div class="tip_bubble_wrap" id="tip<%= @counter%>">
						<div class="triangle"></div>
						<div class="frame">
							<p>Trenera (<%= @trainee.first_name%> <%= @trainee.last_name%>) padoms:</p>
							<% if @viewer.admin=1 %>
							
							<div class="tip">
						<!-- meginajums uztaisit dinamisko formu -->
							<%= form_for(result , :url => { :action => "save_hint" }, :remote => true) do |f| %> 

    						
    						<%= f.text_area :place_teebox %>
							<%= hidden_field_tag("field", "place_teebox") %>
							<%= f.submit %>
							<% end %>
							
							<a href="#"><div class="button_erase">
								<p>Delete</p>
							</div></a>
							
							<a href="#"><div class="button_save">
								<p>Save</p>
							</div></a>

							</div>
							<% else %>
							<!-- viewer nav admins -->
							<div class="tip">
							<p>Torem ipsum dolor sit amet, consecetur alit dolor amet, secetur alit ipsum sit sit amet, consecetur amet, consecetur alit</p>
							</div>
							
							<% end %>
						</div>
					</div>
						
						
					<% if result!= nil %>
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p><%= result.place_teebox%>%</p>
								<!-- pierakstam vertibu hidden lauka , nosaukums veidojas no parametra_nosaukums_nujas nosaukums -->
								<input type="hidden" id="place_teebox_<%=  result.stick_id%>" name="place_teebox_<%=  result.stick_id%>" value="<%= result.place_teebox%>" />
							</div>
						</div>
					</div>
					<% if result.place_teebox.to_i<30 %>
					<div class="notification"><a href="javascript:toggleLayer('tip<%= @counter%>');"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
					<% end %>
					<% else %>
					<div class="no_value">
						<p>N/A</p>
						
					</div>
					<% end %>
				</div>

				<% end %>
				
				
				<div class="name">
					<p>Feairway</p>
				</div>
				<% @counter = 0%>
				<%  @results.each do |result|%>
				<%  @counter = @counter + 1%>
					<div class="progress_block">
						<div class="tip_bubble_wrap" id="tip<%= @counter%>">
						<div class="triangle"></div>
						<div class="frame">
							<p>Trenera (<%= @trainee.first_name%> <%= @trainee.last_name%>) padoms:</p>
							<% if @viewer.admin=1 %>
							
							<div class="tip">
							<textarea name="comments" ></textarea>
							<a href="#"><div class="button_erase">
								<p>Dzest</p>
							</div></a>
							
							<a href="#"><div class="button_save">
								<p>Saglabat</p>
							</div></a>

							</div>
							<% else %>
							
							<div class="tip">
							<p>Torem ipsum dolor sit amet, consecetur alit dolor amet, secetur alit ipsum sit sit amet, consecetur amet, consecetur alit</p>
							</div>
							
							<% end %>
						</div>
					</div>
						
						
						<% if result!= nil %>
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p><%= result.place_feairway%>%</p>
								<input type="hidden" id="place_feairway_<%=  result.stick_id%>" name="place_feairway_<%=  result.stick_id%>" value="<%= result.place_feairway%>" />
							</div>
						</div>
					</div>
					<% if result.place_feairway.to_i<30 %>
					<div class="notification"><a href="javascript:toggleLayer('tip<%= @counter%>');"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
					<% end %>
					<% else %>
					<div class="no_value">
						<p>N/A</p>
					</div>
					<% end %>
				</div>

				<% end %>
				
				
				
			</div>
			
			
			
			
			
			
			
				<div class="clear"></div>
	</div>
		<div class="situation_type">
			<a href="javascript:toggleLayer('stance');"><div class="name_wrap">
				<p>Staja</p>
				<img src="/images/link_right_small.png" alt=""/>
			</div>
			<div class="info_wrap">
				<img src="/images/table_icon_stance.png" alt=""/>
				<div class="description">
					<p>Staja, kada notika sitiens</p>
				</div>
			</div></a>
			
			
			
			
			
			
			<div class="single_situation" id="stance">
				<div class="name">
					<p>Rapus</p>
				</div>
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="no_value">
						<p>N/A</p>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active bad" style="width:10%">
							<div class="percentage">
								<p>10%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block inactive">
					<div class="progress_bar">
						<div class="progress_active inactive" style="width:30%">
							<div class="percentage">
								<p>30%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
			
			
				<div class="name">
					<p>Tarpina</p>
				</div>
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="no_value">
						<p>N/A</p>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active normal" style="width:80%">
							<div class="percentage">
								<p>80%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block">
					<div class="progress_bar">
						<div class="progress_active bad" style="width:10%">
							<div class="percentage">
								<p>10%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
				
				<div class="progress_block inactive">
					<div class="progress_bar">
						<div class="progress_active inactive" style="width:30%">
							<div class="percentage">
								<p>30%</p>
							</div>
						</div>
					</div>
					<div class="notification"><a href="#"><img src="/images/tip_icon.png" alt=""/></a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		<div class="bottom_line"></div>
	</div>
	<div class="clear"></div>
	<div class="result_filtering">
		<div class="dropdown_wrap">
			<h1>Filtret rezultatus</h1>
			<div class="form_dropdowns">
				<form action="#" method="post" name="filter_dropdowns">
					
					
					<select size="1" name="stick" id="dropdown2">
						<option value="default">Stick</option>
						<%  @user_sticks.each do |stick|%>
						<option value="<%= stick.id%>"><%= stick.stick_type%></option>
						<% end %>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="place" id="dropdown2">
						<option value="default">Place</option>
						<option value="place_teebox">Teebox</option>
						<option value="place_feairway">Feairway</option>
						<option value="place_next_fairway">Next Fairway</option>
						<option value="place_semi_raf">Semi raf</option>
						<option value="place_raf">Raf</option>
						<option value="place_for_green">For green</option>
						<option value="place_green">Green</option>
						<option value="place_fairway_sand">Fairway Sand</option>
						<option value="place_green_sand">Green Sand</option>
						<option value="place_wood">Wood</option>
						<option value="place_from_water">From water</option>
					</select>
					
					
					
					
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="stance" id="dropdown2">
						<option value="default">Stance</option>
						<option value="stance_normal">Normal</option>
						<option value="stance_right_leg_lower">Right leg lower</option>
						<option value="stance_left_leg_lower">Left leg lower</option>
						<option value="stance_ball_lower">Ball lower</option>
						<option value="stance_ball_higher">Ball higher</option>
						<option value="Ozo">Ozo</option>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="direction" id="dropdown2">
						<option value="default">Direction</option>
						<option value="direction_straigth">Straigth</option>
						<option value="direction_fade">Fade</option>
						<option value="direction_drow">Drow</option>
						<option value="direction_slice">Slice</option>
						<option value="direction_hook">Hook</option>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="temperature" id="dropdown2">
						<option value="default">Temperature</option>
						<option value="temperature_cold">Cold</option>
						<option value="temperature_normal">Normal</option>
						<option value="temperature_hot">Hot</option>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="weather" id="dropdown2">
						<option value="default">Weather</option>
						<option value="weather_normal">Normal</option>
						<option value="weather_wind">Wind</option>
						<option value="weather_wind_and_rain">Wind and rain</option>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="trajectory" id="dropdown2">
						<option value="default">Trajectory</option>
						<option value="trajectory_normal">Normal</option>
						<option value="trajectory_high">High</option>
						<option value="trajectory_low">Low</option>
					</select>
					
					<div class="clearblock_dropdowns"></div>
					
					<select size="1" name="wind" id="dropdown2">
						<option value="default">Wind</option>
						<option value="wind_from_behind">From behind</option>
						<option value="wind_from_front">From front</option>
						<option value="wind_from_left">From left</option>
						<option value="wind_from_right">From right</option>
					</select>
					

					
				</form>
			</div>
		</div>
		<div class="table_wrap">
		
			<div class="button_filter" onclick="filterResults()">
				Filtret
			</div>
			
			<div class="filter_bar">
				<h1>Trapijumi</h1>
				<div class="unfilled">
					<div class="filled" style="width:75%" id="filter_percentage_div">
						<div class="percentage" id="percentage">
							<p>73%</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="table_container">
			
				<div class="heading_distance">
					<h1>Distance</h1>
				</div>
				
				<div class="heading_plan">
					<h1>Pec plana</h1>
				</div>
			
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:20%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:22%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:21%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:50%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:60%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:70%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:73%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="overlay_wrap">
						<div class="date">
							<p>11.06.23</p>
						</div>	
					</div>
					<div class="bar" style="height:86%"></div>
				</div>
				
				<div class="clear"></div>
				<div class="clearblock"></div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:22%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:21%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:50%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:60%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:70%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:73%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:12%"></div>
				</div>
				
				<div class="progress_wrap">
					<div class="bar" style="height:12%"></div>
				</div>
				<div class="clear"></div>
				
				<div class="number_wrap"><p>24</p></div>
				<div class="number_wrap"><p>244</p></div>
				<div class="number_wrap"><p>13</p></div>
				<div class="number_wrap"><p>745</p></div>
				<div class="number_wrap"><p>24</p></div>
				<div class="number_wrap"><p>478</p></div>
				<div class="number_wrap"><p>93</p></div>
				<div class="number_wrap"><p>24</p></div>

			</div>
			
		</div>
		
		<div class="info_wrap">
			<div class="strokes">
				<h1>Sitieni:</h1>
				<p>1432 x</p>
			</div>
			<div class="strokes">
				<h1>Videja distance:</h1>
				<p>130 m</p>
			</div>
			<div class="clear"></div>
			<img src="/images/tip_icon_big.png" alt=""/>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="footer_wrap">
		<p>Lorem ipsum 2011</p>
	</div>
	
	<script type="text/javascript">
        function filterResults() {
			// filtra dropdowniem value lauka ir pilnie parametru nosaukumi
			var sum = 0
			var paramCount = 0
			var stick = filter_dropdowns.stick[filter_dropdowns.stick.selectedIndex].value
			// ir stick , eja talak
			if (stick!='default') {
				// panem vertibu no dropdown 
				var place = filter_dropdowns.place[filter_dropdowns.place.selectedIndex].value
				// ir kaut kas selektets , tad _ stick id  - saite uz attiecigo hidden lauku -->
				if (place!='default'){
					var place_value = document.getElementById(place + '_' +stick)
					if (place_value){
						sum = sum + place_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var stance = filter_dropdowns.stick[filter_dropdowns.stance.selectedIndex].value
				if (stance!='default'){
					var stance_value = document.getElementById(stance + '_' +stick)
					if (stance_value){
						sum = sum + stance_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var direction = filter_dropdowns.stick[filter_dropdowns.direction.selectedIndex].value
				if (direction!='default'){
					var direction_value = document.getElementById(direction + '_' +stick)
					if (direction_value){
						sum = sum + direction_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var temperature = filter_dropdowns.stick[filter_dropdowns.temperature.selectedIndex].value
				if (temperature!='default'){
					var temperature_value = document.getElementById(temperature + '_' +stick)
					if (temperature_value){
						sum = sum + temperature_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var weather = filter_dropdowns.stick[filter_dropdowns.weather.selectedIndex].value
				if (weather!='default'){
					var weather_value = document.getElementById(weather + '_' +stick)
					if (weather_value){
						sum = sum + weather_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var trajectory = filter_dropdowns.stick[filter_dropdowns.trajectory.selectedIndex].value
				if (trajectory!='default'){
					var trajectory_value = document.getElementById(trajectory + '_' +stick)
					if (trajectory_value){
						sum = sum + trajectory_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				var wind = filter_dropdowns.stick[filter_dropdowns.wind.selectedIndex].value
				if (wind!='default'){
					var wind_value = document.getElementById(wind + '_' +stick)
					if (wind_value){
						sum = sum + wind_value.value
						paramCount = paramCount+1	
					}
					else {
						paramCount = paramCount+1	
					}
				}
				
				
				if (sum>0){
					sum=sum/paramCount
				}
				if (sum<10){
					document.getElementById('filter_percentage_div').className = 'unfilled'
					document.getElementById('filter_percentage_div').style.width = sum+'%'
				}
				else if (sum<30){
					document.getElementById('filter_percentage_div').className = 'filled'
					document.getElementById('filter_percentage_div').style.width = sum+'%'
				}
				else if (sum<70){
					document.getElementById('filter_percentage_div').className = 'filled'
					document.getElementById('filter_percentage_div').style.width = sum+'%'
				}
				else {
					document.getElementById('filter_percentage_div').className = 'filled'
					document.getElementById('filter_percentage_div').style.width = sum+'%'
				}

				document.getElementById("percentage").innerHTML='<p>'+sum+'%</p>'
           		
				
			}
			else 
			{
				alert("Please choose a Stick")
			}
            
        }
    </script>