<%= form_for(@user) do |f| %>
  
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error")%> <%= t :user_create_fail %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div>
  
  
  <%= f.label t "form.email" %>
  <%= f.text_field :email %><br /><br />
  
  <%= f.label t "form.password" %>
  <%= f.password_field :password %><br /><br />
  
  <%= f.label t "form.password_confirmation" %>
  <%= f.password_field :password_confirmation %><br /><br />
  
  <%= f.label t "form.first_name" %>
  <%= f.text_field :first_name %><br /><br />
  
  <%= f.label t "form.last_name" %>
  <%= f.text_field :last_name %><br /><br />
  
  <%= f.label t "form.nick" %>
  <%= f.text_field :nick %><br /><br />
  
  
  
  <%= f.label t "form.sex" %>
  <%= f.select(:sex, FORM_SEX) %><br /><br />

  <%= f.label t "form.birth" %>
  <%= date_select('range', 'start_date', :order => [:day, :month, :year])%><br /><br />
    
  
  <%= f.label t "form.country" %>
  <%= f.select(:country_id, Country.all.map {|country| country.name} ) %><br /><br />
  
  
  <%= f.label t "form.hcp" %>
  <%= f.select(:hcp, (0..36)) %><br /><br />
    
  
  <%= f.label t "form.right_handed" %>
  <%= f.select(:right_handed, RIGHT_HANDED) %><br /><br />
  
  <%= f.label t "form.measurement" %>
  <%= f.select(:measurement, MEASUREMENT) %><br /><br />
  
  <br />
  <%= f.label t "form.home_club" %>
  <%= f.select(:golf_club_id, GolfClub.all.map {|golf_club| golf_club.club_name} ) %><br /><br />
  
  <%= f.label t "form.start_place" %>
  <%= f.select(:start_place_color, START_PLACE_COLORS) %><br /><br />
  
  
  
  <br />
  <u>Vel vaig:</u><br />
  <br />mainit paroli<br />
 
  <%= f.label t "form.profile_image" %>
  <br /> <br />
 
  
  
  
    <br /><br /><%= f.submit t "form.create_user_submit" %>
    <br /><br /><%= f.submit t "form.edit_user_submit" %>
  </div>
  
  
  
  
<% end %>


<img src="/images/images/Golfs_speletaja_profils_v01.jpg" />