<!-- <a href="<%= new_golf_club_path %>"><p>Add Your Golf Club!</p></a> -->

<div class="site_wrapper">
  <div class="header_wrap">
    <div class="logo_wrap"></div>



    <div class="login_wrap">
      <%= render :partial=> 'user_sessions/form', :locals => {:user_session => UserSession.new} %>
    </div>


  </div>

  <div class="splash_page_header">
		<% if @users %>
    <div class="comments_wrap">
		 <% @users.each do |user| %>
      <div class="single_comment_wrap">	
        <div class="image"><img src="<%= user.image.url %>" width="61px" alt=""/></div>
        <div class="text">
          <p><%= user.first_name %>: <span class="gray">| Country : <%= user.country.name%>  <% if user.golf_club%> | Golf club : <%= user.golf_club.name%> <% end %> | HCP : <%= user.hcp%></span></p>
        </div>
      </div>
		<% end %>
      
    </div>
		<% end %>
    <div class="contents_wrap">


      <% if flash.count > 0 %>
        <div class="messages">
          <div class="messages_error">
            <% flash.each do |key, msg| %>
              <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
              <%= content_tag :script, :type => "text/javascript" do %>
                setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>



      <h1>Dolor sit. Lorem ipsum.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit? Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris! <a href="#" onclick="$(this).fadeOut('slow'); $('#moretext').fadeIn('slow');  return false;">Tell me more!</a></p>
			<div id="moretext" style="display:none">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit? Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris! </p>
			</div>
      <div class="button">
        <a href="<%= new_user_path %>"><p>Start Now!</p></a>
      </div>
<%#=  link_to "create golf club", new_golf_club_path %>
      <img src="/images/promo_image.png" alt=""/>
      <div class="image"><img src="/images/games_icon.png" alt=""/></div>
      <div class="text"><p>At vero eos! Et accusamus et iusto odio ducimus.</p></div>
      <div class="clear"></div>
      <div class="image"><img src="/images/results_icon.png" alt=""/></div>
      <div class="text"><p>At vero eos! Et accusamus et iusto odio ducimus.</p></div>
      <div class="clear"></div>
      <div class="image"><img src="/images/club_icon.png" alt=""/></div>
      <div class="text"><p>At vero eos! Et accusamus et iusto odio ducimus.</p></div>
    </div>

    <!--<div class="news_wrap">
      <p>Golf news</p>
			<%# @announcements.each do |ann| %>
				<div class="single_news" onclick="window.location.href='/user/new';" style="cursor:pointer">
        <p><%#=ann.header%><br><span class="gray">
				<%#= chars_for_heading(ann.body, 250)%></span></p>
      </div>
			<%# end %>-->
      <div class="ads_wrap">
   
	<% if @announcements != nil %>
		<% @announcements.each do |ad| %>
		<div onclick="window.location.href='/user/new';" style="cursor:pointer">
	 	<div class="single_ad">
    	  <p><b><%=ad.header.truncate(35)%></b></p>
			<p><span class="gray"><%=ad.body.truncate(100)%></span></p>
   	 </div>
		</div>
		<% end %>
   <% end %>

  </div>


    <div class="clear"></div>

    <div class="bg_image"></div>

  </div>
  <div class="clear"></div>
</div>
<div class="footer_wrap">
  <p>Lorem ipsum 2011</p>
</div>


