
  <div class="game_list_percentage_wrap">
    
    <div id="screen">
			<% if @user_params_fields_limited.count > 5%>
      	<div class="link_left_wrap carousel-control previous carousel-previous">
        	<a href="#" class="prev"><img src="/images/link_left_big.png" alt=""/></a>
      	</div>
			<% end %>
      <div id="slideshow">
        <ul>
          <% @user_params_fields_limited.each do |user_params_fields| %>
            <li>
              <a href="/get_total_stats_by_field/<%= @user_params.id%>/<%= user_params_fields.field.id%>" data-remote="true">
                <div class="single_game_field">
                
                    <div class="date"><p><%= if user_params_fields.field.short_name != (nil || "") then  user_params_fields.field.short_name else user_params_fields.field.name end%> in "<%=if  user_params_fields.field.golf_club.short_name != (nil || "")  then user_params_fields.field.golf_club.short_name else user_params_fields.field.golf_club.name end%>"</p></div>

                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
			<% if @user_params_fields_limited.count > 5%>
      	<div class="link_right_wrap carousel-control next carousel-next">
        	<a href="#" class="next"><img src="/images/link_right_big.png" alt=""/></a>
      	</div>
			<% end %>
    </div>
  </div>
<div id="field_stats"></div>

<% if @user_params_fields_limited.first != nil %>
<script type="text/javascript">
$(document).ready(function() {
	$.get("/get_total_stats_by_field/<%= @user_params.id%>/<%= @user_params_fields_limited.first.id %>");
});
</script>
<% end %>

