<p><span style="padding-left:30px">Showing score on field "<%= stats_by_holes.first.field.name%>"</span></p>
<div class="single_stats_wrap" style="margin-bottom:60px">
	<div class="table_wrap">
			<div class="line">
        <div class="row" style="width:30px">
          <p></p>
        </div>
				 <div class="row" style="width:90px">
          <p>Best strokes</p>
        </div>
        <div class="row" style="width:90px">
          <p>Average strokes</p>
        </div>
				<div class="row" style="width:90px">
          <p>Worst strokes</p>
        </div>  
				<div class="row" style="width:90px">
          <p>Rank</p>
        </div>        
			</div>
				<% i = 0 %><% z = 0%>
				<% stats_by_holes.each do |stat|%>
        <div class="clear"></div>
					<div class="line">
					<div class="row1" style="width:30px;">
            <p><%= stat.hole_number%>.</p>
          </div>
					<div class="row1" style="width:90px;">
            <p><%= stat.best_strokes%></p><% i += stat.best_strokes.to_i %>
          </div>
          <div class="row1" style="width:90px;">
            <p><%= stat.avg_strokes %></p>
          </div>
          <div class="row1" style="width:90px;">
            <p><%= stat.worst_strokes %></p>
          </div>
					<div class="row1" style="width:90px;">
            <p><%= stat.rank %></p>
          </div>
        </div>
				<% if stat.hole_number == 9 %>
					<div class="line" style="">
						<div class="row" style="width:212px; height:25px; border-right: none;">
          		<p></p>
        		</div> 
						<div class="row" style="width:90px; height:25px; border-left: 1px solid #D0D0D0">
          		<p>Out</p>
        		</div> 
						<div class="row" style="width:90px; height:25px">
          		<p><%= i %></p><% if i != 0 then z = i else z = 0 end %>
        		</div> 
					</div>
				<% end %>
				<% if stat.hole_number == 18 %>
					<div class="line" style="margin-left:212px">
						<div class="row" style="width:90px; height:25px; border-left: 1px solid #D0D0D0">
          		<p>In</p>
        		</div> 
						<div class="row" style="width:90px; height:25px">
          		<p><% if i != 0 %><%= i - z %><%else%> 0 <%end%></p>
        		</div> 
					</div>
				<% end %>
       <%end%>
			<div class="line" style="margin-left:212px">
				<div class="row" style="width:90px; height:25px; border-left: 1px solid #D0D0D0">
          <p>Tot</p>
        </div> 
				<div class="row" style="width:90px; height:25px">
          <p><%= i %></p>
        </div> 
			</div>
			<div class="line" style="margin-left:212px">
				<div class="row" style="width:90px; height:46px; border-left: 1px solid #D0D0D0">
          <p>Rank in field</p>
        </div> 
				<div class="row" style="width:90px; height:46px">
          <p><%= field_stats.rank %></p>
					<a href="/get_total_stats_by_field/<%=stats_by_sticks.first.single_field_statistic.user_id%>/<%=stats_by_sticks.first.field_id%>" data-remote="true">View in club context</a>
        </div> 
			</div>
	</div>

	<div class="table_wrap">
			<div class="line">
        
				 <div class="row" style="width:90px">
          <p>Club</p>
        </div>
        <div class="row" style="width:90px">
          <p>Average distance</p>
        </div>
        <div class="row" style="width:90px">
          <p>Total strokes</p>
        </div>  
			</div>
				<% stats_by_sticks.each do |stat|%>
        <div class="clear"></div>
					<div class="line">
					<div class="row1" style="width:90px;">
            <p><%= stat.users_stick.stick.stick_type%></p>
          </div>
					<div class="row1" style="width:90px;">
            <p><%= stat.avg_distance%></p>
          </div>
          <div class="row1" style="width:90px;">
            <p><%= stat.total_strokes%> </p>
          </div>
        </div>
       <%end%>
	</div>
</div>
