
<% hits.each do |hit|%>
<div id="form" class="<%hit.hit_number%>">
<%=form_for(hit, :remote => true) do |f|%>
<%= f.hidden_field :game_id, :value => game.id %>
<%= f.hidden_field :real_hit, :value => 'r' %>
<%= f.label :stick_type %>
<%#= f.collection_select :stick_type, current_user.users_sticks.all, :sticks_stick_type,{ :prompt => "Select"}  %> 
<%= f.collection_select :stick_id, current_user.sticks, :id, :stick_type%>

<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> 
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<% end %> 
</div>
<%end%>
