<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.label :field %>
        
        <%= f.collection_select( :field_id,  Field.all, :id, :name, :prompt => "Select Field" ) %>
        <%= link_to "New field", new_golf_club_field_path %>
        <br />
        <%= f.label :green_quality %>
        <%= f.select( :green_quality, GREEN_QUALITY, :prompt => "Select") %>
        <br />
        <%= f.label :field_quality %>
        <%= f.select( :field_quality, FIELD_QUALITY, :prompt => "Select") %>
        <br />
        <%= f.label :temperature %>
        <%= f.select( :temperature, (-20..40), :prompt => "Select") %> <%= f.label(@user.temp_preference, TEMPERATURE) %>
        <br />
        <%= f.label :weather %>
        <%= f.select( :weather, WEATHER, :prompt => "Select") %> 
        <br />
        <%= f.label :game_format %>
        <%= f.select( :game_format, GAME_FORMAT, :prompt => "Select") %> 
        <br />
        <%= f.label t "form.date" %>  
        <%= f.text_field :date, :id => "timepicker" %>
        <br />
        <%= f.label :game_type %>  
        <%= f.select :game_type, GAME_TYPE, :prompt => "Select" %>
        <br />
        <%= f.label :start_place_colors %>
        <%= f.select( :start_place_colors, START_PLACE_COLORS, :prompt => "Select") %>
  <div class="actions">
    <%= f.submit('res') %>
  </div>
<% end %>
