<div class="error">Lūdzu, norādi laukumu un bedrīšu skaitu!</div>
<div class="profile_info_input">
  <h1>Jauna spēle</h1>
<%= form_for(@game, :html => { :onsubmit => "return check_game_form();"}) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <input type="hidden" name="form_id" id="formid" value="res">
        <%= f.hidden_field :user_id, :value => current_user.id%>
         <div class="left_wrap">
        <div class="single_element">
          <div class="text">
            <p>Laukums</p>
          </div>
          <div class="input">
            <%= f.collection_select( :field_id,  Field.all, :id, :name, {:prompt => "Izvēlies.."}, {:class => "dropdown3 game_input_select"} ) %>
          </div>
        </div>
         <% if current_user.admin %>
        <div class="single_element">
          <div class="text">
            <p class="two_lines">* Laukums nav sarakstā?</p>
          </div>
          <div class="input">
            <a href="<%=new_golf_club_field_path%>" class="green_button">Izveidot</a>
          </div>
        </div>
      
         <%  end  %>
    <div class="single_element">
          <div class="text">
            <p>Speles veids</p>
          </div>
          <div class="input">
            <%= f.select( :game_format, GAME_FORMAT, {:prompt => "Izvēlies.."}, {:class => "dropdown3"} ) %>
          </div>
        </div>
         <div class="single_element">
          <div class="text">
            <p>Datums</p>
          </div>
          <div class="input">
            <%= f.text_field :date, :id => "timepicker" %>
          </div>
        </div>
         <div class="single_element">
          <div class="text">
            <p>Bedrīšu skaits</p>
          </div>
          <div class="input">
           <%= f.select(:game_type, GAME_TYPE,{:prompt => "Izvēlies.."}, {:class => "dropdown3 game_input_select"})%>
     
          </div>
        </div>
        </div>
     
        <div class="left_wrap">
      
        <div class="single_element">
          <div class="text">
            <p>Laikapstakli</p>
          </div>
          <div class="input">
              <%= f.select( :weather, WEATHER,{:prompt => "Izvēlies.."}, {:class => "dropdown3"}) %>
          </div>
        </div>
        <div class="single_element">
          <div class="text">
            <p>Green kvalitate</p>
          </div>
          <div class="input">
           <%= f.select( :green_quality, GREEN_QUALITY,{:prompt => "Izvēlies.."}, {:class => "dropdown3"})%>
     
          </div>
        </div>
        
        <div class="single_element">
          <div class="text">
            <p>Laukuma kvalitate</p>
          </div>
          <%= f.select( :field_quality, FIELD_QUALITY,{:prompt => "Izvēlies.."}, {:class => "dropdown3"})%>
        </div>
        <div class="single_element">
          <div class="text">
            <p>Temperatura</p>
          </div>
          <%= f.select( :temperature, STATISTICS_TEMPERATURE,{:prompt => "Izvēlies.."}, {:class => "dropdown3"})%>
        </div>
         <div class="single_element">
          <div class="text">
            <p>Izsitiena vietas</p>
          </div>
          <%= f.select( :start_place_colors, START_PLACE_COLORS,{:prompt => "Izvēlies.."}, {:class => "dropdown3"})%>
        </div>
  
         <div class="clear"></div>
      <div class="push"></div>
         <div class="button_done_newgame">
      <%= f.submit('Uz spēli', :class => "green_button") %>
    </div>
      </div>
<% end %>

</div>
        
       
        
        
        
        
       