<div class="error">Please, insert date, field, and holes!</div>
<div class="profile_info_input">
  <h1>New game</h1>
<%= form_for(@game, :html => { :onsubmit => "return check_game_form();"}) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
        <input type="hidden" name="form_id" id="formid" value="plan">
        <%= f.hidden_field :user_id, :value => current_user.id%>
       <div class="left_wrap">
        <div class="single_element">
          <div class="text">
            <p>Field</p>
          </div>
          <div class="input">
            <%= f.collection_select( :field_id,  Field.all, :id, :name, {:prompt => "Select"}, {:class => "dropdown3 game_input_select"} ) %>
          </div>
        </div>
         <% if current_user.admin %>
        <div class="single_element">
          <div class="text">
            <p class="two_lines">* Field not on list?</p>
          </div>
          <div class="input">
            <a href="<%=new_golf_club_field_path%>" class="green_button">Create</a>
          </div>
        </div>
      
         <%  end  %>
    <div class="single_element">
          <div class="text">
            <p>Game format</p>
          </div>
          <div class="input">
            <%= f.select( :game_format, GAME_FORMAT, {:prompt => "Select"}, {:class => "dropdown3"} ) %>
          </div>
        </div>
         
        
      
      </div>
        
       
        <div class="left_wrap">
      
        <div class="single_element">
          <div class="text">
            <p>Hit place</p>
          </div>
          <div class="input">
            <%= f.select( :start_place_colors, START_PLACE_COLORS,{:prompt => "Select"}, {:class => "dropdown3"}) %>
          </div>
        </div>
        <div class="single_element">
          <div class="text">
            <p>Hole count</p>
          </div>
          <div class="input">
           <%= f.select(:game_type, GAME_TYPE,{:prompt => "Select"}, {:class => "dropdown3 game_input_select"})%>
     
          </div>
        </div>
        <div class="single_element">
          <div class="text">
            <p>Date</p>
          </div>
          <div class="input">
            <%= f.text_field (:date, {:class => "game_input_select gamedatepicker"} )%>
            <%#= f.datetime_select :date %> 
          </div>
        </div>
         <div class="clear"></div>
      <div class="push"></div>
         <div class="button_done_newgame">
      <%= f.submit('Go!', :class => "green_button") %>
    </div>
  
<% end %>
  </div>
</div>