<%game1 = game.game_type%>
<%=form_for( game, :url => ('/hit_update/' + game.id.to_s + '/'), :html => {:id => "hit_form"}, :remote => true) do |game|%>

  <input type="hidden" name="next_hit" id="nexthit" value="0" />
  <input type="hidden" name="form_id" id="formid" value="details"/>
  <input type="hidden" name="active_hit" id="act_hit" value="<%=active_hit%>" />
  <input type="hidden" name="next_hole" id="nexthole" value="<%=active_hole%>" />

  <%= game.fields_for :hits, hit_p_final do |f|%>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="single_dropdown">
      <p>Place</p>
      <div class="element">
        <%= f.select(:place_from, STATISTICS_PLACE_FROM, {}, {:id =>"place_from_old", :class => "dropdown6 place_from_dropdown", :onchange => "swap_dropdowns(this.value)" })%>
      </div>
      <% if hit_p_final.place_from == 1 || hit_p_final.place_from == 7%>
        <% style_for_direction = "display:none"%>
        <% style_for_slipums = "" %>
      <% else %>
        <% style_for_slipums = "display:none" %>
        <% style_for_direction = "" %>
      <% end %>
    </div>
    <div class="single_dropdown" style="width:100px">
      <p>Till hole</p>
      <div class="element">
        <%= f.text_field :distance_to_hole, {:value => shorten_2(hit_p_final.distance_to_hole)}%> 
      </div>
    </div>
    <div class="single_dropdown">
      <p>Difficulty</p>
      <div class="element">
        <%= f.select(:difficulty, STATISTICS_DIFFICULTY, {:selected => 2}, {:class => "dropdown6"})%>

      </div>
    </div>
   
    <div class="single_dropdown direction_dropdown" style=<%=style_for_direction%>>
      <p>Stance</p>
      <div class="element">
        <%= f.select( :stance, STATISTICS_STANCE, {:selected => 1}, {:class => "dropdown6 deselect"}) %>
      </div>
    </div>
    <div class="single_dropdown slipums_dropdown" style=<%=style_for_slipums%>>
      <p>Slope</p>
      <div class="element" style="heigth:60px">
        <%= f.select(:slipums, SLIPUMS,{:selected => 1}, {:class => "dropdown6 deselect" })%>
      </div>
    </div>
   
    <div class="input_wrap" >
      <div class="heading_plan">
        <p>Plan:</p>
      </div>
      <div class="single_dropdown">
        <p>Actual place</p>
        <div class="element" style="heigth:60px">
					 <%= f.select( :land_place, PLANNED_LAND_PLACES_SHORT, {:prompt => "Select"}, {:class => "dropdown6 land_place_dropdown"}) %>         
 					

        </div>
      </div>
      <div class="single_dropdown" style="width:100px">
        <p>Actual distance </p>
        <div class="element" style="heigth:60px">
          <%= f.text_field :hit_distance, {:class => "distance_plan", :value => shorten_2(hit_p_final.hit_distance)} %>
        </div>
      </div>
      <div class="single_dropdown">
        <p>Club</p>
        <div class="element" style="heigth:60px">
          <%= f.collection_select( :stick_id, fetched_sticks, :id, :stick_type, {}, { :class => "dropdown6 game_input_select", :id => "stick_type_old", :onchange => "setDistanceByClub(this.value);"} ) %>
        </div>
      </div>


			<% if hit_p_final.place_from == 1 || hit_p_final.place_from == 7 %>
				<% dropd_values = STATISTICS_TRAJECTORY_GREEN %>
			<% else %>
				<% dropd_values = STATISTICS_TRAJECTORY_NEW %>
			<% end %>
      <div class="single_dropdown " style="<%#=style_for_direction%>" >

        <p>Trajectory</p>
        <div class="element" style="heigth:60px">
          <%= f.select(:trajectory, dropd_values,{:selected => 5}, {:class => "dropdown6 deselect direction_swap"})%>
        </div>
      </div>
      
    </div>
    <%= f.hidden_field :hole_number, :value => active_hole %>
    <%= f.hidden_field :hit_number, :value => active_hit %>
    </div>
  <% end %>

  <%= game.fields_for :hits, hit_r_final do |f|%>
    <% if hit_p_final.place_from == 1 || hit_p_final.place_from == 7%>
      <% style_for_direction = "display:none"%>
      <% style_for_slipums = "" %>
    <% else %>
      <% style_for_slipums = "display:none" %>
      <% style_for_direction = "" %>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="input_wrap" style="height:45px">
      <div class="heading_result">
        <p>Result:</p>
      </div>
      <%= f.hidden_field :stick_id, :class => "stick_type_real" %>
      <div class="single_dropdown">
        <p>Actual place</p>
        <div class="element">
          <% if hit_p_final.place_from == 1 && hit_r_final.land_place == nil %>
            <%= f.select( :land_place, PLANNED_LAND_PLACES_SHORT,{:selected => 1}, {:class => "dropdown6 land_place_dropdown", :onchange => "showHideHitSwitch(this.value);"}) %>
          <% else %>
            <%= f.select( :land_place, REAL_LAND_PLACES, {:prompt => "Select"}, {:class => "dropdown6 land_place_dropdown", :onchange => "showHideHitSwitch(this.value);"}) %>
          <% end %>
        </div>
      </div>
      <div class="single_dropdown" style="width:100px">
        <p>Actual distance</p>
        <div class="element">
          <%= f.text_field :hit_distance, {:class => "distance_result", :value => shorten_2(hit_r_final.hit_distance)} %>
        </div>
      </div>

      <div class="single_dropdown">
        <p>Mistake</p>
        <div class="element" style="heigth:60px">
          <%= f.select(:mistake, MISTAKE,{:selected => 2}, {:class => "dropdown6 mistake"})%>
        </div>
      </div>
      <div class="single_dropdown" >
        <p>Misdirection</p>
        <div class="element">

            <%= f.select(:misdirection, STATISTICS_MISDIRECTION,{:selected => 2}, {:class => "dropdown6 "})%>
 
        </div>
      </div>
   

      <div class="single_dropdown " style="display:none">
        <p>Trajectory</p>
        <div class="element">
          <%= f.select(:trajectory, STATISTICS_TRAJECTORY_NEW,{:prompt => 'Select'}, {:class => "dropdown6 deselect"})%>
        </div>
      </div>

     
      <div class="input_wrap" style="height:150px">

        <div class="heading_result"><p>Note:</p></div>
      

        <div class="single_dropdown">
          <p>Stroke was .. </p>

          <%= f.select(:hit_was, STATISTICS_HIT_WAS, {:selected => 3}, {:class => "dropdown6"}) %></br>

        </div>

      
        <div class="single_dropdown" style="width:140px">
          <p>Luck factor</p>
          <%= f.select(:luck_factor, LUCK_FACTOR, {:selected => 2}, {:class => "dropdown6"}) %></br>
        </div>
        <%= f.hidden_field :hole_number, :value => active_hole %>
        <%= f.hidden_field :hit_number, :value => active_hit %>
    <%#= f.label :following_action%>
    <%#= f.select(:following_action, STATISTICS_FOLLOWING_ACTION, :prompt => 'Select')%>
      <% end %>
    <%end%>
 </div>





    <% if game1 == 2%>
      <% last_hole_number = 18 %>
    <% elsif game1 == 3%>
      <% last_hole_number = 9 %>
    <% elsif game1 == 1%>
      <% last_hole_number = 9 %>
    <% end %>
		<% if active_hit.to_i != 1 %>
			<div class="navigation_buttons" style="margin-top:20px">
				<div class="save_switch" style="margin:0px">
      	  <div class="single_dropdown" style="height:35px">
      	    <div class="element">
							<a href="#" rel="prev" class="hit_switch gray_button" > Previous&nbsp;stroke </a>
      	    </div>
      	  </div>
     	 </div>
			</div>
			<div class="navigation_buttons" style="margin-top:5px">
				<div class="save_switch" style="margin:0px">
      	  <div class="single_dropdown" style="height:35px">
      	    <div class="element">
							<a href="#" rel="delete" class="hit_switch gray_button" >Remove&nbsp;stroke </a>
      	    </div>
      	  </div>
     	 </div>
			</div>
			<div class="navigation_buttons">
		<% else %>
			<div class="navigation_buttons" style="margin-top:20px">
		<% end %>
		<% if hit_r_final.land_place != 11 && hit_r_final.hit_number < (status_hole.total_strokes_count.to_i)%>
		<div class="save_switch next_stroke_switch" style="margin:0px">
        <div class="single_dropdown" style="height:35px">
          <div class="element">
						<a href="#" rel="next" class="hit_switch green_button" > Next&nbsp;stroke </a>
          </div>
        </div>
      </div>
		</div>
		<% end %>
		<div class="navigation_buttons" style="margin-top:5px">
				<div class="save_switch" style="margin:0px">
      	  <div class="single_dropdown" style="height:35px">
      	    <div class="element">
							<a href="#" rel="penalty" class="hit_switch gray_button" >Mark&nbsp;penalty </a>
      	    </div>
      	  </div>
     	 </div>
			</div>
    <% if active_hole.to_i != last_hole_number.to_i%>
		<div class="navigation_buttons">
      <div class="save_switch" style="margin:0px">
        <div class="single_dropdown" style="height:35px">
          <div class="element">
            <a href="#" rel="<%=active_hole.to_i + 1%>" class="hole_switch green_button" >Next&nbsp;hole</a>
          </div>
        </div>
      </div>
		</div>
    <%end%>
		<div class="navigation_buttons" style="padding-bottom:15px; height:50px">
    	<div class="save_switch" style="margin:0px">
      	<div class="single_dropdown " style="height:35px">
      	  <div class="element" >
      	    <div class="save_gif">
      	      <a href="#" rel="save" class="gray_button saveswitch" >Save&nbsp;game</a>
      	    </div>
      	  </div>
     	 </div>
    	</div>
		</div> 	
