<%=form_for( game, :url => ('/hit_update/' + game.id.to_s + '/'), :html => {:id => "hit_form"}, :remote => true) do |game|%>
<input type="hidden" name="next_hit" id="nexthit" value=0>
<input type="hidden" name="form_id" id="formid" value="details">
<input type="hidden" name="active_hit" id="act_hit" value=<%=active_hit%>>
<input type="hidden" name="next_hole" id="nexthole" value=<%=active_hole%>>
<%= game.hidden_field :active_hit, :value => active_hit%>


<%= game.fields_for :hits, hit_p_final do |f|%>
<div class="heading_result">
          <p>Rezultāts:</p>
        </div>
<div class="single_dropdown">
          <p>Vieta</p>
            <div class="element">
                <%= f.select(:place_from, STATISTICS_PLACE_FROM,  {:id =>"place_from_old"}, {:class => "dropdown6" })%>
          </div>
        </div>
<div class="single_dropdown">
          <p>Nūja</p>
            <div class="element">
                <%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type,{:id => "stick_type_old"},{ :class => "dropdown6"}) %>
            </div>
        </div>
<div class="single_dropdown">
          <p>Attālums</p>
            <div class="element">
              <%= f.text_field :hit_distance %> <%#= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Vejš</p>
            <div class="element">
                <%= f.select(:wind, STATISTICS_WIND, {:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Stāja</p>
            <div class="element">
               <%= f.select( :stance, STATISTICS_STANCE, {:prompt => 'Select'}, {:class => "dropdown6"}) %>
            </div>
        </div>
<%= f.hidden_field :hit_number, :value => active_hit %>

<div class="single_dropdown">
          <p>Piezemesies</p>
            <div class="element">
               <%= f.select( :land_place, PLANNED_LAND_PLACES,{:prompt => 'Select'}, {:class => "dropdown4"}) %>
            </div>
        </div>



<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<%= f.label :difficulty%>
<%= f.select(:difficulty, STATISTICS_DIFFICULTY, :prompt => "Select")%>
<% end %> 

<%= game.fields_for :hits, hit_r_final do |f|%>

<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<%= f.label :misdirection%>
<%= f.select(:misdirection, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :hit_was%>
<%= f.select(:hit_was, STATISTICS_HIT_WAS, :prompt => "Select")%>
<%= f.label :motion_was%>
<%= f.select(:motion_was, STATISTICS_MOTION_WAS, :prompt => "Select")%>
<%= f.label :luck_factor%>
<%= f.check_box :luck_factor %>
<%= f.label :following_action%>
<%= f.select(:following_action, STATISTICS_FOLLOWING_ACTION, :prompt => 'Select')%>
<%= f.label :comment %>
<%= f.text_field :comment %>
<% end %>

<% end %>
</div> 
