


<div id="form" class="1">
<%=form_for(hit_planned, :remote => true) do |f|%>
<%= f.label :place_from %>
<%= f.select(:place_from, STATISTICS_PLACE_FROM, :prompt => 'Select')%>
<%= f.label :wind %>
<%= f.select (:wind, STATISTICS_WIND, :prompt => 'Select')%>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.label :user_stick_id %>
<%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type, :prompt => 'Select' ) %>
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<% end %> 
</div>

<div id="form" class="2">
<%=form_for(hit_real, :remote => true) do |f|%>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.hidden_field :stick_type, :value => hit_planned.stick_type %>
<%= f.hidden_field :place_from, :value => hit_planned.place_from %>
<%= f.hidden_field :wind, :value => hit_planned.wind %>
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<%= f.label :misdirection%>
<%= f.select(:misdirection, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :hit_was%>
<%= f.select(:hit_was, STATISTICS_HIT_WAS, :prompt => "Select")%>
<%= f.label :motion_was%>
<%= f.select(:motion_was, STATISTICS_MOTION_WAS, :prompt => "Select")%>
<%= f.label :luck_factor%>
<%= f.check_box :luck_factor %>
<%= f.label :following_action%>
<%= f.select(:following_action, STATISTICS_FOLLOWING_ACTION, :prompt => 'Select')%>
<%= f.label :comment %>
<%= f.text_field :comment %>
<% end %>
</div> 
