<%=form_for( game, :url => ('/hit_update/' + game.id.to_s + '/'), :html => {:id => "hit_form"}, :remote => true) do |game|%>

<input type="hidden" name="next_hit" id="nexthit" value=0>
<input type="hidden" name="form_id" id="formid" value="plan">
<input type="hidden" name="active_hit" id="act_hit" value=<%=active_hit%>>
<input type="hidden" name="next_hole" id="nexthole" value=<%=active_hole%>>
<%= game.hidden_field :active_hit, :value => active_hit%>
<%= game.fields_for :hits, hit do |f|%>
<%= f.hidden_field :hole_number, :value => active_hole %>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class="single_dropdown" style="width:90px">
          <p>Club</p>
            <div class="element">
              
<%= f.collection_select :stick_id, current_user.sticks, :id, :stick_type, {:prompt => "Select"},{:class => "dropdown6 game_input_select"}%>
            </div>
        </div>

<div class="single_dropdown" >
          <p>Distance</p>
            <div class="element">
              <%= f.text_field :hit_distance %> <%#= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
            </div>
        </div>
        <div class="single_dropdown" style="width:90px">
          <p>Land place</p>
            <div class="element">
              <%= f.select( :land_place, PLANNED_LAND_PLACES, {:prompt => "Select"},{:class => 'dropdown6'}) %>
            </div>
        </div>
<div class="single_dropdown ">
            <div class="element" >
              <div class="save_gif">
              <a href="#" rel="save" class="gray_button saveswitch" style="padding:5px; line-height:50px">Save</a>
              </div>
            </div>
        </div>
        <% if active_hole != end_hole%>
        <div class="single_dropdown">
            <div class="element">
              <a href="#" rel="<%=active_hole.to_i + 1%>" class="hole_switch green_button" style="padding:5px; line-height:50px">Next</a>
             </div>
        </div>
         <%end%>
<% end %>
<% end %> 




 