<div id="form">
<%=form_for(hit, :remote => true) do |f|%>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.label :user_stick_id %>
<%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type, :prompt => 'Select' ) %> 
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> 
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<% end %> 
</div>