<%=form_for( game, :url => '/hit_update/') do |game|%>
<div class="active_hit"> <%= game.hidden_field :hit_direction %></div>
<div class="nexthole"><%= game.hidden_field :next_hole%></div>
<div id="formid"><%= game.hidden_field :form, :value => 'details'%></div>
<%= game.hidden_field :active_hit, :value => active_hit%>
<%= hits.each do |hit|%>
<% if hit.real_hit == 'pp'%>
<%= game.fields_for hit do |f|%>
<%= f.label :place_from %>
<%= f.select(:place_from, STATISTICS_PLACE_FROM, :prompt => 'Select')%>
<%= f.label :wind %>
<%= f.select(:wind, STATISTICS_WIND, :prompt => 'Select')%>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.label :user_stick_id, 'Club' %>
<%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type, :prompt => 'Select' ) %>
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :stance %>
<%= f.select( :stance, STATISTICS_STANCE, :prompt => "Select") %>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<%= f.label :difficulty%>
<%= f.select(:difficulty, STATISTICS_DIFFICULTY, :prompt => "Select")%>
<% end %> 
<% elsif hit.real_hit == 'rp' %>
<%= game.fields_for hit do |f|%>
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<%= f.label :direction%>
<%= f.select(:direction, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :trajectory%>
<%= f.select(:trajectory, STATISTICS_TRAJECTORY, :prompt => "Select")%>
<%= f.label :misdirection%>
<%= f.select(:misdirection, STATISTICS_DIRECTION, :prompt => "Select")%>
<%= f.label :hit_was%>
<%= f.select(:hit_was, STATISTICS_HIT_WAS, :prompt => "Select")%>
<%= f.label :motion_was%>
<%= f.select(:motion_was, STATISTICS_MOTION_WAS, :prompt => "Select")%>
<%= f.label :luck_factor%>
<%= f.check_box :luck_factor %>
<%= f.label :following_action%>
<%= f.select(:following_action, STATISTICS_FOLLOWING_ACTION, :prompt => 'Select')%>
<%= f.label :comment %>
<%= f.text_field :comment %>
<% end %>
<% end %>
<% end %>
</div> 
<%= game.fields_for pair_hit do |p|%>
<%#s= p.hidden_field :users_stick_stick_id%>
<% end %>
<% end %>

