<%=form_for( game, :url => ('/hit_update/' + game.id.to_s + '/'), :html => {:id => "hit_form"}, :remote => true) do |game|%>
<input type="hidden" name="next_hit" id="nexthit" value=0>
<input type="hidden" name="form_id" id="formid" value="details">
<input type="hidden" name="active_hit" id="act_hit" value=<%=active_hit%>>
<input type="hidden" name="next_hole" id="nexthole" value=<%=active_hole%>>
<%= game.hidden_field :active_hit, :value => active_hit%>


<%= game.fields_for :hits, hit_p_final do |f|%>

<div class="single_dropdown">
          <p>Vieta</p>
            <div class="element">
                <%= f.select(:place_from, STATISTICS_PLACE_FROM,  {:id =>"place_from_old"}, {:class => "dropdown6" })%>
          </div>
        </div>
<div class="single_dropdown">
          <p>Līdz bedrītei</p>
            <div class="element">
              <%= f.text_field :distance_to_hole, :class => 'dropdown2' %> <%#= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Stāja</p>
            <div class="element">
               <%= f.select( :stance, STATISTICS_STANCE, {:prompt => 'Select'}, {:class => "dropdown6"}) %>
            </div>
        </div>
<div class="single_dropdown">
          <p>Vejš</p>
            <div class="element">
                <%= f.select(:wind, STATISTICS_WIND, {:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Grūtība</p>
            <div class="element">
               <%= f.select(:difficulty, STATISTICS_DIFFICULTY, {:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>
<div class="input_wrap" style="height:80px">
  <div class="heading_plan">
          <p>Plāns:</p>
        </div>
<div class="single_dropdown">
          <p>Piezemesies</p>
            <div class="element">
               <%= f.select( :land_place, PLANNED_LAND_PLACES,{:prompt => 'Select'}, {:class => "dropdown6"}) %>
            </div>
        </div>
<div class="single_dropdown">
          <p>Attālums</p>
            <div class="element">
              <%= f.text_field :hit_distance %> 
            </div>
        </div>
<div class="single_dropdown">
          <p>Nūja</p>
            <div class="element">
                <%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type, {:id => "stick_type_old"}, { :class => "dropdown6"} )%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Virziens</p>
            <div class="element">
                <%= f.select(:direction, STATISTICS_DIRECTION,{:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>
<div class="single_dropdown">
          <p>Trajektorija</p>
            <div class="element">
                <%= f.select(:trajectory, STATISTICS_TRAJECTORY,{:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>


<%= f.hidden_field :hit_number, :value => active_hit %>
</div>
<% end %> 

<%= game.fields_for :hits, hit_r_final do |f|%>
<div class="input_wrap" style="height:45px">
        <div class="heading_result">
          <p>Rezultāts:</p>
        </div>
     
<div class="single_dropdown">
  <p>Piezemejās</p>
            <div class="element">
              <%= f.select( :land_place, PLANNED_LAND_PLACES,{:prompt => 'Select'}, {:class => "dropdown6"}) %>
            </div>
          </div>
<div class="single_dropdown">
          <p>Attālums</p>
            <div class="element">
              <%= f.text_field :hit_distance %>
            </div>
          </div>
<div class="single_dropdown">
          <p>Novirze</p>
            <div class="element">
              <%= f.select(:misdirection, STATISTICS_DIRECTION,{:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
          </div>
<div class="single_dropdown">
          <p>Virziens</p>
            <div class="element">
              <%= f.select(:direction, STATISTICS_DIRECTION,{:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
          </div>
<div class="single_dropdown">
          <p>Trajektorija</p>
            <div class="element">
                <%= f.select(:trajectory, STATISTICS_TRAJECTORY,{:prompt => 'Select'}, {:class => "dropdown6"})%>
            </div>
        </div>
</div>
<div class="input_wrap" style="height:154px">
        <div class="radio_button_wrap">
          <div class="heading"><p>Sitiena piezīmes</p></div>
      <div class="buttons">
                 <p>Kustības bija..</p>
             
                 <% STATISTICS_MOTION_WAS.each do |stat|%>
                  <%= f.radio_button(:motion_was, stat[1])%> <%= stat[0] %></br>
                 <% end %>
               </div>
              
        <div class="buttons">
          <p>Trāpījums bija..</p>
          <% STATISTICS_HIT_WAS.each do |stat|%>
                  <%= f.radio_button(:hit_was, stat[1])%> <%= stat[0] %></br>
                 <% end %>
        </div>
        </div>
        
        <div class="textarea_wrap">
          <p>Komentāri par sitienu</p>
           <%= f.text_area (:comment,:cols => 20, :rows => 2) %>
            
        </div>
      </div>
<div class="single_dropdown" style="width:140px">
          <p>Veiksmes faktors</p>
            <div class="element">
              <%= f.check_box :luck_factor %>
            </div>
</div>
<%#= f.label :following_action%>
<%#= f.select(:following_action, STATISTICS_FOLLOWING_ACTION, :prompt => 'Select')%>

<% end %>

<% end %>
</div> 
