<%=form_for( game, :url => '/hit_update/', :html => {:id => "hit_form"}, :remote => true) do |game|%>
<input type="hidden" name="next_hit" id="nexthit">
<div class="formid"><%= game.hidden_field :form_id, :value => 'plan'%></div>
<%= game.hidden_field :active_hit, :value => active_hit%>
<input type="hidden" name="next_hole" id="nexthole">
<%= game.hidden_field :active_hit, :value => active_hit%>
<%= game.fields_for hit do |f|%>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.label :user_stick_id, 'Club' %>
<%= f.collection_select( :stick_type, current_user.sticks, :stick_type, :stick_type, :prompt => 'Select' ) %> 
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> <%= if current_user.measurement == 'foots' then 'ft' else 'm' end%>
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<% end %>
<% end %> 
</div>