<% if active_hit != 1 %>
<a href="#" OnClick="$(#hit_edit_tab.nexthole).val().value('<%=active_hole%>');$(#hit_edit_tab.active_hit).val().value('prev');$(form).submit;" >Previous hit</a>

<%=active_hit%>
<a href="#" OnClick="$(#hit_edit_tab.nexthole).val().value('<%=active_hole%>');$(#hit_edit_tab.active_hit).val().value('next');$(form).submit;" >Next hit</a>
<% else %>
<%=active_hit%>
<a href="#" OnClick="$(#hit_edit_tab.nexthole).val().value('<%=active_hole%>');$(#hit_edit_tab.active_hit).val().value('next');$(form).submit;" >Next hit</a>
<% end %>
