
 <div class="game_input_wrap">
    <div class="tabs_wrap">
     
      <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
<div class="holes_wrap">
  <div class="heading_wrap">
  <p>Bedrīte:</p>
  </div>
<% holes_filtered.each do |f|%>
<% if f.hole_number.to_i < active_hole.to_i %>

<a href="#" rel="<%=f.hole_number%>" class="hole_switch"><%=f.hole_number%></a>

<% elsif f.hole_number.to_i == active_hole.to_i %>
<a href="#" rel="<%=f.hole_number%>" class="hit_plan_link"><%=f.hole_number%></a>
<% else %>
<a href="#" rel="<%=f.hole_number%>" class="hole_switch"><%=f.hole_number%></a>
    <% end %>
  
    <% end %>
    
   </div> 
</div>
</div>
