<script>
$(document).ready(function(){
	$('#header_menu_div').html('<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_games"} %>');
}
</script>


<% @games.each do |game| %>
  
    <div class="single_game_wrap">
      <div class="date_wrap">
        <p><%=l game.date, :format => :game %></p>
      </div>
      <div class="field_name_wrap">
        <% field = Field.find(:first, :conditions => {:id => game.field_id})%>
        <p><%=field.name%></p>
      </div>
      <div class="links">
        <a href="<%='/game_plan/' + game.id.to_s + '/1/1/new'%>" class="<%= fetch_color_for_plan_button(game.id)%>">Game plan</a>
       <!-- <% hit_real = Hit.find(:first, :conditions => {:game_id => game.id, :real_hit => 'r'})%>
        <% if hit_real %>
        <a href="<%='/game_results/' + game.id.to_s + '/1/results/new/0'%>" class="green_button">Results</a>
               <% else %>
        <a href="<%='/game_results/' + game.id.to_s + '/1/results/new/0'%>" class="gray_button">Results</a>
        <% end %> -->
        <a href="<%='/game_details/' + game.id.to_s + '/1/1/new/0'%>" class="<%=fetch_color_for_details_button(game.id)%>">Detailed results</a>           
        <a href="<%=get_stats_path(game.id)%>" class="green_button">Statistics</a>
      </div>
      <div class="clear"></div>
    </div>
    <%end%>
