
<% hits.each do |hit|%>
<div id="form" class="<%hit.hit_number%>">
<%=form_for(hit, :remote => true) do |f|%>
<%= f.hidden_field :game_id, :value => game.id %>
<%= f.hidden_field :real_hit, :value => 'r' %>
<%#= f.label :user_stick_id %>
<%#= f.collection_select( :user_stick_id, Users_stick.where(:user_id => game.user_id), :stick_type, :prompt => "Select Stick" ) %> 
<%= f.label :hit_distance %>
<%= f.text_field :hit_distance %> 
<%= f.label :land_place %>
<%= f.select( :land_place, PLANNED_LAND_PLACES, :prompt => "Select") %>
<% end %> 
</div>
<%end%>
