
  <div class="left_coll">
	<div class="messages_error" style="display:none"> Putts more than strokes!</div>
  <%= form_tag('/results_starter', :method => 'post', :remote => true, :id => "starter_form") do %>
  <p>Total strokes, hole #<%=active_hole%>?</p>  <%=select_tag :hits, options_for_select(1..10, hitcount),{:class => 'dropdown2 strokes'}%>
  <p>Putt count?</p> <%=select_tag "puts", options_for_select(0..10, putts),{:class => 'dropdown2 putts'}%>
  <%= hidden_field_tag :game_id, game_id%>
  <%= hidden_field_tag :active_hole, active_hole%>
 <div class="clearblock_dropdowns"></div>

 <%= link_to_function "Fill results", "check_strokes()", {:class => "green_button"} %>
   
  <%end%>
</div>

<script type="text/javascript">
function check_strokes(){
	var strokes = $('.strokes :selected').val();
	var putts = $('.putts :selected').val();
	if (strokes >= putts) {
		$('.left_coll .messages_error').hide();
       
      
		$('#starter_form').submit();
			}
	else {
  		if ($(".left_coll .messages_error").css("display") == 'block' ) {
      	$(".left_coll .messages_error").slideUp("fast").slideDown('slow');
  		  } else {
     			 
     			 $(".left_coll .messages_error").slideDown('slow');
   				 }
        return false}
	}
       
     </script>
