
<%=game.fields_for :hits, Hit.new do |f| %>
<div id='planned_hit_form_<%=active_hit%>'>
<%= active_hit %>

<%= f.hidden_field :hole_number, :value => active_hole %>
<%= f.hidden_field :hit_number, :value => active_hit %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class='single_dropdown' style='width:90px height:60px'>
          <p>Club</p>
            <div class='element'>
              
<%= f.collection_select :stick_id, current_user.sticks, :id, :stick_type, {:prompt => 'Select'},{:class => 'dropdown6 game_input_select'}%>
            </div>
        </div>

<div class='single_dropdown' style='width:90px'>
          <p> Stroke distance</p>
            <div class='element'>
              <%= f.text_field :hit_distance %> 
            </div>
        </div>
        <div class='single_dropdown' style='width:90px'>
          <p>Land place</p>
            <div class='element'>
              <%= f.select( :land_place, PLANNED_LAND_PLACES, {:prompt => 'Select'},{:class => 'dropdown6'}) %>
            </div>
        </div>
	</div>    

<%end%>
