<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_games"} %>
<div style="margin-left:20px;margin-top:5px"><%= game_header(@game.field.name, @game.date) %></div>
<div class="messages_error" style="display: none;">Please, fill in all the information!</div>

<div class="game_input_wrap">
  <div class="holes_wrap" style="width:900px">
		
  <div class="heading_wrap">
    <p>Please, fill in the relevant information on holes!</p>
  </div>
<br/>
<br/>
<br/>
<%=form_for( @game, :url => ('/game_details/update_holes/' + @direction + '/' + @game.id.to_s + '/'), :html => {:onsubmit => "return checkStrokeValues();", :id => "hole_starter_form"}) do |game|%>
	<div class="all_holes_labels">
		<p>Strokes:</p>
		<p>Putts:</p>
	</div>	
	<div class="all_holes">
	<% tot = 0 %>
		<% in_ = 0 %>
		<% out_ = 0 %>
  <% @statusholes.each do |hole|%>
		
		<div class="hole_input_wrapper">
		
   		<%= game.fields_for :status_holes, hole do |f|%>
  		  <div class="single_hole done "><p><%=hole.hole_number%></p></div>
				<div class="clear"></div>
				<% text_field_name = 'hole_text_field hole_num_' + hole.hole_number.to_s %>
				<%= f.text_field :total_strokes_count, :class => text_field_name%>
				<%= f.text_field :putts_count, :class => "hole_text_field" %>
				<% tot += hole.total_strokes_count.to_i %>
		  <% end %>
		</div>
		<% if hole.hole_number == 9 %>
			<div class="hole_input_wrapper">
				<div class="for_word single_hole done "><p>Out</p></div>				
				<div class="clear"></div>
				<%= text_field_tag :out_field, tot, :disabled => true, :class => "out_field" %>
			</div>
			<% if @statusholes.count == 9 %>
			<div class="hole_input_wrapper">
				<div class="single_hole done for_word"><p>Tot</p></div>
				<%= text_field_tag :tot_field, tot, :disabled => true, :class => "tot_field", :style => "width:28px"  %>
				<div class="clear"></div>
			</div>
			<% end %>
			<% out_ = tot %>
		<% elsif hole.hole_number == 18 %>
			<div class="hole_input_wrapper">
				<div class="single_hole done for_word"><p>In</p></div>
				<% in_ = tot - out_%>
				<%= text_field_tag :in_field, in_, :disabled => true, :class => "in_field" %>
				<div class="clear"></div>
			</div>
			<div class="hole_input_wrapper">
				<div class="single_hole done for_word"><p>Out</p></div>
				
				<%= text_field_tag :out_field, out_, :disabled => true, :class => "out_field" %>
				<div class="clear"></div>
			</div>
			<div class="hole_input_wrapper">
				<div class="single_hole done for_word"><p>Tot</p></div>
				<%= text_field_tag :tot_field, tot, :disabled => true, :class => "tot_field", :style => "width:28px"  %>
				<div class="clear"></div>
			</div>
		<% end %>
  <% end %></div>
 <% end %>


 

	</div>
</div>

<div class="clear"></div>
<div class="generic_button_padding">
	<a href="#" class="green_button" onclick="$('#hole_starter_form').submit();" > Done </a> 
</div>

<script type="text/javascript">
	$(document).ready( function() {
		bindHoleTextBoxes();
});
</script>

