
<%= render :partial => 'share/header_menu' %>

<div id="hole_tab">
  <%=render :partial => 'games/hole_tab', :locals => {:holes_filtered => @holes_filtered, :start_hole => @start_hole, :end_hole => @end_hole, :game_id => @game.id, :active_hole => @start_hole, :form_id => @form_id, :hits => @hitcount, :puts => @puts}%>
</div>
<div id="hit_count_tab">
<%= render :partial => 'games/results_starter', :locals => {:game_id => @game.id, :active_hole => @active_hole} %>
</div>
<div id="hit_edit_tab">
  
  <% if @hits != nil %> 
   <%= render :partial => 'games/hit_form_results', :locals => {:hits => @hits, :game => @game, :active_hole => @active_hole, :active_hit => 1}%>
   <%end%>
 </div>
</div>
<div id="hole_picture" >
   <%= render :partial => 'games/hole_picture', :locals => {:hole => @hole} %>
</div>
<%= link_to "Done", game_index_path, :remote => true%>
</div>

<div class="game_input_wrap">
    <div class="tabs_wrap">
      <div class="tab">
        <a href="#" class="gray_button">Rezult훮ts</a>
      </div>
      <div class="tab">
        <a href="#" class="green_button">Piln훮 anal카ze</a>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
    <div class="holes_wrap">
      <div class="heading_wrap">
        <p>Bedr카te:</p>
      </div>
      <a href="#"><div class="single_hole done"><p>1</p></div></a>
      <a href="#"><div class="single_hole done"><p>2</p></div></a>
      <a href="#"><div class="single_hole done"><p>3</p></div></a>
      <a href="#"><div class="single_hole done"><p>4</p></div></a>
      <a href="#"><div class="single_hole active"><p>5</p></div></a>
      <a href="#"><div class="single_hole empty"><p>7</p></div></a>
      <a href="#"><div class="single_hole empty"><p>8</p></div></a>
      <a href="#"><div class="single_hole empty"><p>9</p></div></a>
      <a href="#"><div class="single_hole empty"><p>10</p></div></a>
      <a href="#"><div class="single_hole empty"><p>11</p></div></a>
      <a href="#"><div class="single_hole empty"><p>12</p></div></a>
      <a href="#"><div class="single_hole empty"><p>13</p></div></a>
      <a href="#"><div class="single_hole empty"><p>14</p></div></a>
      <a href="#"><div class="single_hole empty"><p>15</p></div></a>
      <a href="#"><div class="single_hole empty"><p>16</p></div></a>
      <a href="#"><div class="single_hole empty"><p>17</p></div></a>
      <a href="#"><div class="single_hole empty"><p>18</p></div></a>
    </div>
  
    <div class="results_input_wrap">
    <div id="hit_edit_tab">
  
  <% if @hits != nil %> 
   <%= render :partial => 'games/hit_form_results', :locals => {:hits => @hits, :game => @game, :active_hole => @active_hole, :active_hit => 1}%>
   <%end%>
 </div>
    
    </div>
        </div>
      </div>
      
      
      
      
    </div>
  </div>
  <div class="game_input_image_wrap">
    <img src="img/map_placeholder.png" alt=""/>
  </div>