<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_games"} %>
<div style="margin-left:20px;margin-top:5px"><%= game_header(@game.field.name, @game.date) %></div>
<div class="game_input_wrap">
   <div class="holes_wrap">
     <div id="hole_tab">
<div id="hole_tab">
  <%=render :partial => 'games/hole_tab', :locals => {:holes_filtered => @holes_filtered, :start_hole => @start_hole, :end_hole => @end_hole, :game_id => @game.id, :active_hole => @start_hole, :form_id => @form_id, :hits => @hitcount, :puts => @puts}%>
</div>
</div>

</div>
   <div class="plan_input_wrap">
<div class="messages">
<div class="messages_error" style="display: none;">Please, select club!</div>
</div>
     
     <div class="input_wrap">
       
<div id="hit_count_tab">
<%= render :partial => 'games/hit_tab', :locals => {:game_id => @game.id, :active_hole => @active_hole, :active_hit => 1, :form_id => @form_id} %>
</div>
<div id="hit_edit_tab2">
<div id="hit_edit_tab">

   <%= render :partial => 'games/hit_form_details', :locals => {:hit_r_final => @hit_r_final, :hit_p_final => @hit_p_final, :game => @game, :active_hit => @active_hit, :pair_hit => @pair_hit, :active_hole => @active_hole, :active_hit => @active_hit, :end_hole => @end_hole, :fetched_sticks => @fetched_sticks}%>
</div>
</div>
  </div>
  
  
   </div>
    <div class="game_input_image_wrap">
<div id="hole_picture">
   <%= render :partial => 'games/hole_picture', :locals => {:hole => @hole} %>
</div>
</div>
</div>

<div id="hit_list">
	<%= render :partial =>'games/hit_list_tab', :locals => {:hits => @hits, :active_hit => @active_hit, :game_id => @game.id}%>
</div>
