




<%= render :partial => 'share/header_menu' %>

<div class="game_input_wrap">
    
    <div class="plan_input_wrap">
<<<<<<< HEAD
      <div class="error" style="max-width:250px float:right">Please, select club!</div>
=======
      <div class="error" style="max-width:250px float:right">Specify stick</div>
>>>>>>> d730fcdb55ee0c356b1bba417a3d0f1e92f9321d
     <div class="tabs_wrap">
      <div class="tab">
        <a href="<%=print_game_plan_path(@game.id)%>" class="gray_button ">Print plan</a>
      </div>
      
    <div class="clear"></div>
    </div>
<div id="hole_tab">
  <%=render :partial => 'games/hole_tab', :locals => {:holes_filtered => @holes_filtered, :start_hole => @start_hole, :end_hole => @end_hole, :game_id => @game.id, :active_hole => @start_hole, :form_id => @form_id, :hits => 0, :puts => 0}%>
</div>
 <div class="input_wrap">
<div id="hit_tab" >
  
  <%=render :partial => 'games/hit_tab', :locals => {:game_id => @game.id, :active_hole => @active_hole, :form_id => @form_id, :active_hit => @active_hit}%>
 
</div>

<div id="hit_edit_tab" >
  
  <%=render :partial => 'games/hit_form_'+@form_id, :locals => { :active_hole => @active_hole, :active_hit => @active_hit, :hit => @hit, :hit_real => @hit_real, :hit_planned => @hit_planned, :game => @game, :game_id => @game.id, :end_hole => @end_hole}%>

</div>
</div>
</div>
</div>
<div id="hole_picture" class="game_input_image_wrap">
  <%= render :partial => 'games/hole_picture', :locals => {:hole => @hole} %>
</div>

<%#= link_to 'Done', game_index_path, :remote => true%>
