<div class="printable_wrap2">
<% @holes_filtered.each do |hole|%>

  <div class="hole_wrap">
    <div class="text_wrap">
    <p><%= hole.hole_number%>.hole (PAR <%= hole.par %>, HCP <%= hole.hcp %>)</p>
    <% @hits = Hit.find(:all, :conditions => {:game_id => @game.id, :real_hit => 'p', :hole_number => hole.hole_number})%>
    <% @hits.each do |hit| %>
    <% @stick = Stick.find(:first, :conditions => {:id => hit.stick_id})%>
    <p><%=hit.hit_number%>. <%=@stick.short_name%>, <%=hit.hit_distance%>, <%=hit.land_place%></p>
    <% end %>
    <p> Wind was :</p>
    </div>
    <div class="image_wrap">
      <img src="<%=hole.image.url%>" alt="" width="140px"/>
    </div>
  </div>
  <% end %>
</div>
<div class="buttons">
<a href="#" onclick="javascript:print()" class="green_button">Print</a>
<%#= link_to_function("Print this Page", {"javascript:print()"},{ :class="green_button"}) %>
<a href="<%= game_index_path%>" class="green_button"> Back to my games</a>
</div>
