<h1>Listing sticks</h1>

<div class="table_listing"
  <b>
  <div class="row">
    <div class="item">Stick Type</div>
    <div class="item">Distance</div>
    <div class="item">Degrees</div>
    <div class="item">Shaft</div>
    <div class="item">Shaft Strenght</div>
    <div class="item">To Do</div>
  </div>
  </b>
  <% @sticks.each do |stick| %>
    <div class="row">
      <div class="item"><%= stick.stick_type %></div>
      <div class="item"><%= stick.distance %></div>
      <div class="item"><%= stick.degrees %></div>
      <div class="item"><%= stick.shaft %></div>
      <div class="item"><%= stick.shaft_strength %></div>
      <div class="item"><%= link_to 'Edit', edit_admin_stick_path(stick.id) %></div>
    </div>
  <% end %>
  <br />
  <%= link_to 'Add New Stick', new_admin_stick_path %>






