<h1>Listing sticks</h1>

<div style="padding: 5px; margin: 5px;">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="table_listing">
  <b>
    <div class="row">
      <div class="item">Stick Type</div>
      <div class="item">Distance</div>
     <!-- <div class="item">Degrees</div>-->
      <div class="item">Shaft</div>
      <div class="item">Shaft Strenght</div>
      <div class="item">Stick Short Name</div>
      <div class="item">To Do</div>
    </div>
  </b>
  <% @sticks.each do |stick| %>
    <div class="row">
      <div class="item"><%= stick.stick_type %></div>
      <div class="item"><%= number_with_precision(stick.distance, :precision=> 2)%></div>
     <!-- <div class="item"><%= STICK_DEGREES_rev[stick.degrees.to_i] %></div>-->
      <div class="item"><%= STICK_SHAFT_rev[stick.shaft.to_i] %></div>
      <div class="item"><%= STICK_SHAFT_STRENGTH_rev[stick.shaft_strength.to_i] %></div>
      <div class="item"><%= stick.short_name %></div>
      <div class="item"><%= link_to 'Edit', edit_admin_stick_path(stick.id) %></div>
    </div>
  <% end %>
  <br />
  <%= link_to 'Add New Stick', new_admin_stick_path %>

</div>




