<h1>Listing sticks</h1>

<table>
  <tr>
    <th>Stick Type</th>
    <th>Distance</th>
	 <th>Degrees</th>
	 <th>Shaft</th>
	 <th>Shaft Strenght</th>
	 <th>To Do</th>
  </tr>

<% @sticks.each do |stick| %>
  <tr>
    <td><%= stick.stick_type %></td>
	<td><%= stick.distance %></td>
	<td><%= stick.degrees %></td>
	<td><%= stick.shaft %></td>
	<td><%= stick.shaft_strength %></td>
    <td><%= link_to 'Edit', edit_admin_stick_path(stick.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Stick', new_admin_stick_path %>

<br />





