<% if current_user %>

  <%= form_for(@golf_club) do |f| %>
    <% if @golf_club.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@golf_club.errors.count, "error") %> prohibited this golf_club from being saved:</h2>
        <ul>
        <% @golf_club.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t "form.country" %>

   <%= f.select(:country_id, Country.all.map {|country| country.name} ) %><br /><br />
    
    </div>
    <div class="field">
      <%= f.label :region %><br />
      <%= f.text_field :region %>
    </div>
    
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    
    <div class="field">
      <%= f.label :web_page %><br />
      <%= f.text_field :web_page %>
    </div>
      
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
<br />
You need to login to view this page<br />
<br /><br />
Login<br />
<%= render :partial=> 'user_sessions/form', :locals => {:user_session => UserSession.new} %>
<br /><br />
or <%= link_to "Register", clubs_new_path %>

<% end %>






