<div id="<%= "users_stick_#{users_stick.id}" unless users_stick.new_record? %>"  >
  <%= f.fields_for users_sticks_attributes, users_stick do |h| %>
    <%= h.hidden_field :id unless users_stick.new_record? %>

    <div class="club_set">


      <div class="element"><%= f.label :stick_type %></div>
      <div class="element"><%= h.collection_select :stick_id, Stick.all, :id, :stick_type, {:prompt => "Select Stick"},{:class => "dropdown2", :onchange => "fill_sticks_form(this)"} %></div>
      <div class="element"><%= h.label :distance %></div>  
      <div class="element"><%= h.text_field :distance, :class => 'distance' %><br /></div>
      <div class="element"><%= h.label :degrees %></div> 
      <div class="element"><%= h.text_field :degrees, :class => 'degrees' %><br /></div>
      <div class="element"><%= h.label :shaft %></div>  
      <div class="element"><%= h.text_field :shaft, :class => 'shaft' %><br /></div>
      <div class="element"><%= h.label :shaft_strength %></div> 
      <div class="element"><%= h.text_field :shaft_strength, :class => 'shaft_strength' %><br /></div>
      <div class="element">
        <% if users_stick.new_record? %>
          <a href="" OnClick="$(this).parent().remove(); return false;" >cancel</a>
        <% else %>
          <%= link_to 'Destroy', users_stick, :confirm => 'Are you sure?', :remote => true, :method => :delete %>
        <% end %>
      </div>
    </div>  
  </div>
<% end %>
