<div id="<%= "users_stick_#{users_stick.id}" unless users_stick.new_record? %>">
  <%= f.fields_for users_sticks_attributes, users_stick do |h| %>
    <%= h.hidden_field :id unless users_stick.new_record? %>

    <fieldset>
                
        <%= f.label :stick_type %>
        <%= h.collection_select :stick_id, Stick.all, :id, :stick_type, { :prompt => "Select Stick"}, { :onchange => "fill_sticks_form(this)"} %>
        <br />
        
        <%= h.label :distance %>
        <%= h.text_field :distance, :class => 'distance' %><br />

        <%= h.label :degrees %>
        <%= h.text_field :degrees, :class => 'degrees' %><br />

        <%= h.label :shaft %>
        <%= h.text_field :shaft, :class => 'shaft' %><br />

        <%= h.label :shaft_strength %>
        <%= h.text_field :shaft_strength, :class => 'shaft_strength' %><br />
        
        <% if users_stick.new_record? %>
          <a href="" OnClick="$(this).parent().remove(); return false;" >cancel</a>
        <% else %>
          <%= link_to 'Destroy', users_stick, :confirm => 'Are you sure?', :remote => true, :method => :delete %>
        <% end %>
      </fieldset>
  <% end %>
</div>