<div id="<%= "ball_#{ball.id}" unless ball.new_record? %>">
  <%= f.fields_for balls_attributes, ball do |h| %>
    <%= h.hidden_field :id unless ball.new_record? %>

    <div class="club_set">
      <div class="item">
        <div class="subitem"><%= h.label :ball_manufacturer %></div>
        <div class="subitem"><%= h.label :ball_type %></div>
      </div>

      <div class="item">
        <div class="subitem"><%= h.text_field :ball_manufacturer, :class => 'dropdown4' %></div>
        <div class="subitem"><%= h.text_field :ball_type, :class => 'dropdown4' %></div> 
        <div class="subitem2">
          <% if ball.new_record? %>
            <a href="" OnClick="$(this).parent().remove(); return false;"  >cancel</a>
          <% else %>
            <%= link_to 'Destroy', ball, :confirm => 'Are you sure?', :remote => true, :method => :delete %>
          <% end %>
        </div> 
      </div>

    </div>
  <% end %>
</div>