
<% if current_user %>
<%= render :partial => 'share/header_menu' %>
<% else %>
<% end %>
<br /><br />

<% form_for(@user, :url => user_path, :html => { :multipart => true } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error")%> <%= t "form.user_create_fail" %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<div>
   
   
   
   <div class="valid_email_warning">email is not valid</div>
   
   
  <%= f.label t "form.email"%>
  <%= f.text_field :email %><br /><br />
  
  
    
    
    

  <%= f.label t "form.first_name" %>
  <%= f.text_field :first_name %><br /><br />
  
  <%= f.label t "form.last_name" %>
  <%= f.text_field :last_name %><br /><br />
  
  <%= f.label t "form.nick" %>
  <%= f.text_field :nick %><br /><br />
    
  <%= f.label t "form.sex" %>
  <%= f.select(:sex, FORM_SEX) %><br /><br />

  <br /><br /><br />
  <%= f.label t "form.birth" %>  
  <%= f.text_field :birth, :id=> "datepicker" %>
  
  <br /><br /><br /><br />  
  <%= f.label t "form.country" %>
  <%= f.collection_select :country_id, Country.all, :id, :name %>
  
  <%= f.label t "form.hcp" %>
  <%= f.select(:hcp, (0..36)) %><br /><br />
      
  <%= f.label t "form.right_handed" %>
  <%= f.select(:right_handed, RIGHT_HANDED) %><br /><br />
  
  <%= f.label t "form.measurement" %>
  <%= f.select(:measurement, MEASUREMENT) %><br /><br />
  
  <br /> 
  
  <%= f.label t "form.temperature" %>
  <%= f.select(:temp_preference, TEMPERATURE) %><br /><br />
  
  <br /> 
  <%= f.label t "form.home_club" %>
  <%= f.collection_select(:golf_club_id, GolfClub.all, :id, :name, :prompt => t(:notices_no_club)) %><br /><br />
  
  <%= f.label t "form.start_place" %>
  <%= f.select(:start_place_color, START_PLACE_COLORS) %><br /><br />
   
  <h3><%= f.label t "form.profile_image" %></h3>
  <br /> <br /> 
  <%= f.file_field :image %>
  <br />
 
  <% if current_user %>
  Atstaj tukšu, lai nemainītu
  <% end %><br /><br />
 
  <%= f.label t "form.password_new" %><br />
  <%= f.text_field :password %><br /><br />
    
  <%= f.label t "form.password_confirmation_new"%><br />
  <%= f.text_field :password_confirmation %><br /><br />
    
  <% if current_user %>
  <%= f.submit t "form.edit_user_submit" %><br /><br />  
  <% else %>      
  <br />
  <%= f.submit t "form.create_user_submit" %><br /><br />
  <% end %>
</div>
<% end %>

<% if current_user %>
<% else %>
  <%= link_to "Back", welcome_path %>
<% end %>


<img src="/images/images/Golfs_speletaja_profils_v01.jpg" />

