
<% if current_user %>
  <%= render :partial => 'share/header_menu' %>
<% end %>

<div class="profile_info_input">
  <div class="error">All fields are required</div>
  <br /><br />


  <% form_for(@user, :url => user_path, :html => { :multipart => true,  :onsubmit => "return check_user_form();"} ) do |f| %>

    <% if @user.errors.any? %>
      <div class="error_default">
        <span><%= pluralize(@user.errors.count, "error")%> <%= t "form.user_create_fail" %></span>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="left_wrap">
      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.first_name" %></p>
        </div>
        <div class="input">
          <%= f.text_field :first_name, :class => "user_text_field" %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.last_name" %></p>
        </div>
        <div class="input">
          <%= f.text_field :last_name, :class => "user_text_field"  %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.nick" %></p>
        </div>
        <div class="input">
          <%= f.text_field :nick, :class => "user_text_field" %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.sex" %></p>
        </div>
        <div class="input">
          <%= f.select(:sex, FORM_SEX,{}, { :class => 'dropdown8 user_select_field'}) %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.birth" %></p>
        </div>
        <div class="input">
          <%= f.text_field :birth, :id=> "datepicker", :class => "user_text_field" %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.hcp" %></p>
        </div>
        <div class="input">
          <%= f.select(:hcp, (0..36),{}, { :class => 'dropdown8 user_select_field'}) %>
        </div>
      </div>
    </div>


    <div class="left_wrap">
      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.right_handed" %></p>
        </div>
        <div class="input">
          <%= f.select(:right_handed, RIGHT_HANDED,{}, { :class => 'dropdown8'}) %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.country" %></p>
        </div>
        <div class="input">
          <%= f.collection_select :country_id, Country.all, :id, :name,{}, { :class => 'dropdown8'} %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.measurement" %></p>
        </div>
        <div class="input">
          <%= f.select(:measurement, MEASUREMENT,{}, { :class => 'dropdown8'}) %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.start_place" %></p>
        </div>
        <div class="input">
          <%= f.select(:start_place_color, START_PLACE_COLORS_USER,{}, { :class => 'dropdown8'}) %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.temperature" %></p>
        </div>
        <div class="input">
          <%= f.select(:temp_preference, TEMPERATURE,{}, { :class => 'dropdown8'}) %>
        </div>
      </div>

      <div id="golf_club_control"> <!-- SIS DIVS IR VAIDZIGS, LAI VARTU DISABLE/ENABLE GOLFA IZVELNI, KAD CHECKBOXIS IECEKSETS/IZCEKSETS -->
        <div class="input" >


          <div class="single_element">
            <div class="text" >
              <p><%= f.label t "form.home_club", :id => "golf_club_label"%></p>
            </div>
            <div class="input" id = "golf_club_checkbox">
              <% @golf_club = GolfClub.where(:accepted => "yes") %>
              <%= f.collection_select(:golf_club_id, @golf_club, :id, :name, { :prompt => t(:notices_no_club)}, {:class => 'dropdown8'}) %>
            </div>
          </div>


          <div>
            <p>* Dont see your club?</p>


            <p><%= f.check_box :add_club, {:onclick => "golf_club_checkbox()"} %> I will create new golf club</p>
          </div>

        </div>
      </div>




    </div>

    <div class="clear"></div>
    <div class="push"></div>

    <div class="single_element">
      <div class="text">
        <p><%= f.label t "form.email"%></p>
      </div>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>
    <% if current_user %>
      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.password_new" %></p>
        </div>
        <div class="input">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.password_confirmation_new"%></p>
        </div>
        <div class="input">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    <%else%>
      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.password_new" %></p>
        </div>
        <div class="input">
          <%= f.password_field :password, :class => "user_text_field" %>
        </div>
      </div>

      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.password_confirmation_new"%></p>
        </div>
        <div class="input">
          <%= f.password_field :password_confirmation,  :class => "user_text_field" %>
        </div>
      </div>
    <%end%>
    <div class="single_element">
      <div class="text">
        <p><%= f.label t "form.profile_image" %></p>
      </div>
      <div class="input">
        <%= f.file_field :image %>
      </div>
    </div>


    <div class="button_done">
      <div class="clear"></div>

      <% if current_user %>
        <%= f.submit "Save", :class => "green_button" %>
      <% else %>
        <%= f.submit "Create", :class => "green_button" %>
      <% end %>

      <% unless current_user %>
        <%= link_to "Back", welcome_path, :class=> "green_button" %>
      <% end %>
    </div>

  <% end %>

</div>















