
<% if current_user %>
  <%= render :partial => 'share/header_menu' %>
  <% else %>
<% end %>
<br /><br />


<%= form_for @user, :url => bag_update_user_path do |f|  %>
  
    <div id="sticks">
      <h3>Sticks</h3>

      
        <% @users_sticks.each do |users_stick| %>

          <%= render :partial => 'user/new_stick', :locals => {:users_stick => users_stick, :f => f, :users_sticks_attributes => @sticks_attributes} %>
        
        <% end %>
      
       
    </div>
    
    <%= link_to_function 'add new', "jQuery('#sticks').append(#{render(:partial => '/user/new_stick', :locals => {:f => f, :users_sticks_attributes => @new_sticks_attributes}).to_json})" %>
      <%= link_to "cancel", bag_user_path %>
        <br /><br />
   
      <%= f.submit %>
    
<% end %>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />