<script type="text/javascript">
$(document).ready(function() {
	$(window).bind('beforeunload', function(e){
		if (check_bag_form() == false){
			return 'Please, fill all fields.'
		}
	});
});

</script>
<% if current_user %>
  <%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_bag"} %>
<% else %>
<% end %>

<%= form_for @user, :html => { :onsubmit=> "return check_bag_form();"}, :url => update_bag_user_path do |f|  %>
 <div class="heading2"><p>Clubs</p></div>
			
			<div class="heading2"><div class="gray_heading"><p> Your current measurement preference is <%= return_distance_name(@user.measurement)%>.</p></div></div>
  <div class="bag_wrap">


    <div class="clubs">


      <div class="messages">
        <div class="messages_error" style="display: none;">All fields are required</div>
      </div>

     

      <div id="sticks">
        <% @users_sticks.each do |users_stick| %>
          <%= render :partial => 'user/stick_form', :locals => {:users_stick => users_stick,  :f => f, :users_sticks_attributes => @sticks_attributes} %>
        <% end %>
      </div>

      <div class="clear"></div>
      <div class="element">
        <a href="/create_new_stick/<%=@user.id%>" data-remote="true" class="gray_button">Add new</a>
        <div class="clear"></div>
      </div>

    </div>
		</div>
<div class="heading2"><p>Balls</p></div>
		<div class="bag_wrap">
    <div class="clubs">
      
	
      <div id="balls">
        <% @balls.each do |ball| %>
          <%= render :partial => 'user/ball_form', :locals => {:f => f, :ball => ball, :balls_attributes => @balls_attributes} %>
        <% end %>
      </div>

      <div class="clear"></div>
      <div class="element">
        <%= link_to_function 'Add new', "jQuery('#balls').append(#{render(:partial => 'user/ball_form', :locals => {:f => f, :balls_attributes => @new_balls_attributes, :ball => Ball.new}).to_json}).slideDown('fast')", :class => "gray_button" %>
        <div class="clear"></div>
      </div>
    </div>

    <div class="button_done">
      <%= f.submit :class => 'green_button', :style => "cursor: pointer;", :value => "Save" %>
    </div>

  </div>
<% end %>

