
<% if current_user %>
  <%= render :partial => 'share/header_menu' %>
  <% else %>
<% end %>
<br /><br />


<%= form_for @user, :url => update_bag_user_path do |f|  %>

  
    <div id="sticks">
      <h3>Sticks</h3>

        <% @users_sticks.each do |users_stick| %>

          <%= render :partial => 'user/bag_form', :locals => {:users_stick => users_stick,  :f => f, :users_sticks_attributes => @sticks_attributes} %>
        
        <% end %>
    </div>
    
    <%= link_to_function 'add new', "jQuery('#sticks').append(#{render(:partial => 'user/bag_form', :locals => {:f => f, :users_sticks_attributes => @new_sticks_attributes, :users_stick => UsersStick.new}).to_json})" %>

        <br /><br />
   
      <%= f.submit %>
    
<% end %>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />