<%= render :partial => 'share/header_menu' %>

<div class="profile_info_input">

  <h1>Edit  club</h1> 


  <%= form_for(@golf_club, :url => golf_club_path)  do |f| %>
    <% if @golf_club.errors.any? %>


      <div class="error">

        <h2><%= pluralize(@golf_club.errors.count, "error") %> prohibited this golf_club from being saved:</h2>
        <ul>
          <% @golf_club.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>

      <% end %>
    </div>

    <div class="left_wrap">

      <div class="single_element">
        <div class="text">
          <p><%= f.label :name %></p>
        </div>
        <div class="input">
          <%= f.text_field :name %>
        </div>
      </div>


      <div class="single_element">
        <div class="text">
          <p><%= f.label t "form.country" %></p>
        </div>
        <div class="input">
          <%= f.collection_select :country_id, Country.all, :id, :name,{}, {:class=> "dropdown3"}%>
        </div>
      </div>


      <div class="single_element">
        <div class="text">
          <p><%= f.label :region %></p>
        </div>
        <div class="input">
          <%= f.text_field :region %>
        </div>
      </div>



      <div class="single_element">
        <div class="text">
          <p><%= f.label :city %></p>
        </div>
        <div class="input">
          <%= f.text_field :city %>
        </div>
      </div>



      <div class="single_element">
        <div class="text">
          <p><%= f.label :web_page %></p>
        </div>
        <div class="input">
          <%= f.text_field :web_page %>
        </div>
      </div>



      <div class="single_element">
        <div class="text">
          <p><%= f.label :start_place_by_level_low %></p>
        </div>
        <div class="input">
          <%= f.text_field :start_place_by_level_low %>
        </div>
      </div>



      <div class="single_element">
        <div class="text">
          <p><%= f.label :start_place_by_level_medium %></p>
        </div>
        <div class="input">
          <%= f.text_field :start_place_by_level_medium %>
        </div>
      </div>



      <div class="single_element">
        <div class="text">
          <p><%= f.label :start_place_by_level_high %></p>
        </div>
        <div class="input">
          <%= f.text_field :start_place_by_level_high %>
        </div>
      </div>


    </div>

    <div class="button_done">
      <div class="clear"></div>

      <div class="actions">
        <%= render :partial => 'fields/list', :class => "green_button", :locals => {:golf_club => @golf_club, :fields => @golf_club.fields } %> 
      </div>

    </div>

  <% end %>

</div>

















=====================================
<%= render :partial => 'share/header_menu' %><br /><br /><br />




<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label t "form.country" %>
  <%= f.collection_select :country_id, Country.all, :id, :name %>


</div>
<div class="field">
  <%= f.label :region %><br />
  <%= f.text_field :region %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :web_page %><br />
  <%= f.text_field :web_page %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<br />
<br />

<br /><br /><br />














