<%= render :partial => 'share/header_menu' %><br /><br /><br />


<%= form_for(@golf_club, :url => golf_club_path)  do |f| %>
  <% if @golf_club.errors.any? %>
   

   <div id="error_explanation">
      <h2><%= pluralize(@golf_club.errors.count, "error") %> prohibited this golf_club from being saved:</h2>
      <ul>
      <% @golf_club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t "form.country" %>
    <%= f.collection_select :country_id, Country.all, :id, :name %>

     
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :web_page %><br />
    <%= f.text_field :web_page %>
  </div>
  <div class="field">
    <%= f.label :start_place_by_level_low %><br />
    <%= f.text_field :start_place_by_level_low %>
  </div>
  <div class="field">
    <%= f.label :start_place_by_level_medium %><br />
    <%= f.text_field :start_place_by_level_medium %>
  </div>
  <div class="field">
    <%= f.label :start_place_by_level_high %><br />
    <%= f.text_field :start_place_by_level_high %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />
<br />

<%= render :partial => 'fields/list', :locals => {:golf_club => @golf_club, :fields => @golf_club.fields } %><br /><br /><br />














