<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_club"} %>
<script type="text/javascript">

  function change_coach(id){
    var form = '.edit_user_' + id
    var c_checkbox = '#c_checkbox_' + id
    var a_checkbox = '#a_checkbox_' + id
    var c_value = '#c_value_' + id
    var a_value = '#a_value_' + id

    if ($(c_checkbox).attr("checked") == true) { $(c_value).val(id); }
    else { $(c_value).val("");}

    if ($(a_checkbox).attr("checked") == true){$(a_value).val(1); }
    else {$(a_value).val(0);}
    
    $(form).submit();
  }
</script>

<% if current_user.golf_club.accepted == "yes" %>
  <div class="club_wrap">
    <div class="club_info_wrap">
      <h1><%=@club.name%></h1>
			<div class="club_info">
      	<p><span class="gray"><%=@club.city%>, <%=@club.region%></span></p>
      	<p><span class="gray"><%=@club.web_page%></span></p>
			</div>

    </div>
				<div class="club_links">
      	<a href="/club/edit" class="green_button">Edit club info</a>  <a href="<%=new_golf_club_field_path%>" class="green_button">Add field</a> <a href="/club/edit_fields" class="green_button">Edit fields</a>  <a href="/announcements/new" data-remote="true" class="green_button"> Add article </a>  <a href="/side_ad" data-remote="true" class="green_button"> Manage ads </a>
			</div>
			<div class="clear"></div>

		<div class="announcement_form_wrap"></div>
		<div class="side_ad_wrap" style="margin:10px"></div>
    <div class="club_players_wrap">
      
      

      <% @users.each do |user| %>
        
          <div class="single_player_wrap">
            <div class="profile_info">
              <div class="image">
                <img src="<%=user.image.url%>" alt="" width="53px" height="53px"/>
              </div>

              <div class="text">
                <a href="<%=main_statistic_path(user.id.to_s)%>" ><p><%=user.first_name%></p>
                  <p><%=user.last_name%></p></a>
                <p><span class="gray">HCP:</span> <%=user.hcp%></p>

<%if user.id != @club.user_id %>
                <%= form_for(user, :url => ('/user/update_hints/' + user.id.to_s), :html => {:class => "edit_user_" + user.id.to_s}, :remote => :true) do |u|%>
                  <%= u.hidden_field(:coach, {:id => "c_value_#{user.id.to_s}"})%>
                  <%= u.hidden_field(:admin, {:id => "a_value_#{user.id.to_s}"})%>
                  <p><%=user.email%></p>
                
                <p><%= u.check_box :admin, :onchange => "change_coach('#{user.id.to_s}')" %> <%= u.label "Give acc" %></p>
                <!--<p><%= u.check_box :coach, :onchange => "change_coach('#{user.id.to_s}')" %> <%= u.label "Give Hint" %></p>--><% end %>
                
               
              <%end%>
              </div>
            </div>





            <% @sticks = user.users_sticks%>
						<div class="club_box_wrapper">
            <% @sticks.each do |stick| %>
              <% @stats = AllStickStatistic.find(:first, :conditions => {:stick_id => stick.stick_id, :user_id => user.id})%>
              <div class="single_club_wrap">
                <div class="club_name">
                  <p><%= stick.stick.stick_type%></p>
                </div>


                <div class="progress_bar">
                  <% unless @stats == nil || @stats.stick_progres == nil %>
                    <% if @stats.stick_progres < MAIN_STATISTIC_BAD_PROC %>
                      <div class="progress_active bad" style="width:<%= " #{@stats.stick_progres.to_s}%" %>">
                      </div>
                    <%else%>
                      <div class="progress_active normal" style="width: <%= " #{ @stats.stick_progres.to_s}%"%>">
                      </div>
                    <%end%>
                  <%end%>
                </div>


                <div class="info">
                  <p>
                    USAGE:
                    <% unless @stats == nil || @stats.usage == nil %>
                      <%="#{@stats.usage}%" %>
                    <% else %>
                      N/A
                    <% end %>
                    <br />
                    AVG:
                    <% unless @stats == nil || @stats.avg_distance == nil %>
                      <%="#{@stats.avg_distance}m"%>
                    <% else %>
                      N/A
                    <% end %>
                  </p>
                </div>

              </div>
            <%end%>
					</div>
          </div>
          <div class="clear"></div>
          <div class="bottom_line" style="margin-bottom:10px">
            <img src="images/my_club_gradient.png" alt=""/>
          </div>

      
      <% end %>
		</div>
    </div>


  </div>
<% elsif current_user.golf_club.accepted == "no" %>
  your club has not beed accepted
<% else %>
  Administrator has not yet accepted your club
<% end %>

