
<%= render :partial => 'share/header_menu' %>


		<% if current_user.golf_club.accepted == "yes" %>
      <%if current_user.golf_club.active? %>
      <div class="club_wrap">
    <div class="club_info_wrap">
      <h1><%=@club.name%></h1>
      <p><span class="gray"><%=@club.city%>, <%=@club.region%></span></p>
      <p><span class="gray"><%=@club.web_page%></span></p>
      <p><a href="/club/edit">Rediģēt kluba info</a> | <a href="<%=new_golf_club_field_path%>">Pievienot laukumu</a>  | <a href="/club/edit_fields">Rediģēt laukumus</a> </p>
    </div>
      
      <div class="club_players_wrap">
        <% @users.each do |user|%>
      <div class="single_player_wrap">
        <div class="profile_info">
          <div class="image">
            <img src="<%=user.image.url%>" alt=""/>
          </div>
          <div class="text">
            <p><%=user.first_name%></p>
            <p><%=user.last_name%></p>
            <p><span class="gray">HCP:</span> <%=user.hcp%></p>
            
            
            <%= form_for(user, :url => ('/user/update_hints/' + user.id.to_s), :html => {:class => "hints_checkbox"}, :remote => :true) do |u|%>
            <p>Dot padomus <%= u.check_box( :show_hints, { :value => user.show_hints, :onchange => "$(this).submit()"})%>
               <%end%></p>
         
         
          </div>
          <p><%=user.email%></p>
        </div>
        
      </div>
        <%end%>
        <div class="link_switch">
          <a href=""><img src="img/link_left_big.png" alt=""/></a>
        </div>
        <div class="single_club_wrap">
          <div class="club_name">
            <p>WOOD</p>
          </div>
          <div class="progress_bar">
            <div class="progress_active bad" style="width:20%">
            </div>
          </div>
          <div class="info">
            <p>USAGE 15%<br>AVG. 170m</p>
          </div>
        </div>
        <div class="single_club_wrap">
          <div class="club_name">
            <p>IRON</p>
          </div>
          <div class="progress_bar">
            <div class="progress_active normal" style="width:60%">
            </div>
          </div>
          <div class="info">
            <p>USAGE 15%<br>AVG. 170m</p>
          </div>
        </div>
        <div class="single_club_wrap">
          <div class="club_name">
            <p>IRON</p>
          </div>
          <div class="progress_bar">
            <div class="progress_active normal" style="width:60%">
            </div>
          </div>
          <div class="info">
            <p>USAGE 15%<br>AVG. 170m</p>
          </div>
        </div>
        <div class="link_switch">
          <a href=""><img src="img/link_right_big.png" alt=""/></a>
        </div>
        <div class="clear"></div>
        <div class="bottom_line">
          <img src="img/my_club_gradient.png" alt=""/>
        </div>
      </div>
      
      </div>
      
      
      
      
      
      <% else %>
        You must complete club registration, for club to be active. You can do that <%= link_to "here", edit_golf_club_path %>
      <% end %>
      
		<% elsif current_user.golf_club.accepted == "no" %>
			your club has not beed accepted
    <% else %>
      Administrator has not yet accepted your club
		<% end %>
