
    
<%= form_for([:golf_club, @field], :html => {:multipart => true}) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Jauns laukums</h1>

  <div class="field_name">
          <div class="txt"><p>Nosaukums</p></div>
          <div class="input"><%= f.text_field :name %><br /><br /></div>
       
        </div>
        <div class="clear"></div>
        <div class="txt"><p>Green fees</p></div>
   <div id="green_fees">
      <div class="green_fee">
      <div class="txt"><p>Green fee (Kas / kad)</p></div>
          <div class="txt"><p>Maksa</p></div>
          <%if @field.green_fees.any? %>
      <% @field.green_fees.each do |green_fee| %>
      <%= render :partial => '/fields/new_green_fee', :locals => {:green_fee => green_fee, :f => f, :green_fee_attributes_name => @green_fee_attributes_name} %>
      
      <% end %>
      <%else%>
     <%= render(:partial => '/fields/new_green_fee', :locals => {:f => f, :green_fee_attributes_name => @new_green_fee_attributes_name})%>
     <% end %>
     </div>
     </div>  
    <div class="green_fee">
<div class="button_wrap">
            <a onclick="<%="$('#green_fees').append(#{render(:partial => '/fields/new_green_fee', :locals => {:f => f, :green_fee_attributes_name => @new_green_fee_attributes_name}).to_json})"%>" href="#" class="green_button">Pievienot vēl</a>
          </div>
            </div>
     


<div class="holes">
          <h1>Bedrītes</h1>
          <div class="headings"><p>PAR</p></div>
          <div class="headings"><p>HCP</p></div>
          <div class="clear"></div>
	
	     <div id="holes">
	    	     <% @field.holes.each do |hole| %>
        <%= render :partial => '/fields/new_hole', :locals => {:hole => hole, :f => f, :hole_attributes_name => @hole_attributes_name, :hole_number => hole.hole_number} %>
        
       <% hole_number = hole.hole_number %>
	    <% end %>
	 </div>
	  <% hole_number ||= 0 %>
	  <% hole_attributes_name = @new_holes_attributes_name %>
	  <div class="add_hole">
	    <div id="hole_add_link">
	      
	      
	      
	      
	      <script type="text/javascript">
	  	  function append_new_hole(x) {
	  	         var i = $('.current_hole_number:last').val();  	           
  	           if(i === undefined) {
  	             i = 0;
  	             i = parseInt(i);
  	           }
	           
	             i = parseInt(i) + 1;
	             $('#holes').append(x);
	           	 $('.current_hole_number:last').val(i);
	             $('.hole_number_text:last').append(i+'.');
	            }
	        
	       </script>
	      
	      <a href="#" onClick="append_new_hole(<%=render(:partial => '/fields/new_hole', :locals => {:f => f, :hole_attributes_name => :hole_attributes_name, :hole => Hole.new, :hole_number => hole_number + 1}).to_json %>)" class="green_button" >+ Vēl vienu</a>
           </div>
          </div>
	 </div>



	  <div id="hit_places">
	   <div class="hit_places_wrap">

        <h1>Izsitiena vietas</h1>
        
          <div class="single_wrap">
            <div class="txt two_lines"><p>Very short distance</p></div>
            <div class="color_dropdown">
             <%=  f.select( :very_short_distance, START_PLACE_COLORS, {:prompt => "Izvēlies.."},{:class => 'dropdown3'})%>
            </div>
          </div>
        <div class="single_wrap">
            <div class="txt two_lines"><p>Very short distance</p></div>
            <div class="color_dropdown">
             <%=  f.select( :short_distance, START_PLACE_COLORS, {:prompt => "Izvēlies.."},{:class => 'dropdown3'})%>
            </div>
          </div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Very short distance</p></div>
            <div class="color_dropdown">
             <%=  f.select( :normal_distance, START_PLACE_COLORS, {:prompt => "Izvēlies.."},{:class => 'dropdown3'})%>
            </div>
          </div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Very short distance</p></div>
            <div class="color_dropdown">
             <%=  f.select( :long_distance, START_PLACE_COLORS, {:prompt => "Izvēlies.."},{:class => 'dropdown3'})%>
            </div>
          </div>                                             
        </div>    

<div class="green_button_save_field">
      <%= f.submit %>
  </div>
</div>



  </form>

	
<% end %>

<div class="pusher"></div>