
<div class="mesages">
<div class="messages_error" style="display: none;">Please, enter field name!</div>
</div>

<%= form_for([:golf_club, @field], :html => {:multipart => true, :class => "edit_field"}) do |f| %>

  <% if @field.errors.any? %>
    <div class="error_default">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% @field.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash.count > 0 %>
    <div class="info_message" style="display:block;">
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
        <%= content_tag :script, :type => "text/javascript" do -%>
          setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="background_fix" style="margin-top:0px ">
    <div class="new_field_green_fees_wrap" style="float:left">

      <div class="field_name">
        <div class="txt"><p>Field name</p></div>
        <div class="input"><%= f.text_field(:name, :class => "field_name_field" )%><br /><br /></div>
      </div>
			<div class="clear"></div>
			<div class="field_name">
				<div class="txt"><p>Short name</p></div>
				<div class="input">
				<%= f.text_field(:short_name, {:class => "short_name_field", :maxlen => 10, :onkeyup => "maxlen('chars_left_short_name', 'short_name_field');"} )%>
				<br /><br /></div>
				<div class="txt" style="margin-left:5px"><p><span class="chars_left_short_name"></span></p></div>
			</div>
      <div class="clear"></div>
      <div class="txt"><p>Green fees</p></div>
      <div id="green_fees">
        <div class="green_fee">
          <div class="txt"><p>Green fee (What / When)</p></div>
          <div class="txt"><p>Price</p></div>
          <%if @field.green_fees.any? %>
            <% @field.green_fees.each do |green_fee| %>
              <%= render :partial => '/fields/new_green_fee', :locals => {:green_fee => green_fee, :f => f, :green_fee_attributes_name => @green_fee_attributes_name} %>

            <% end %>
          <%else%>
            <%= render(:partial => '/fields/new_green_fee1', :locals => {:f => f, :green_fee_attributes_name => @new_green_fee_attributes_name, :green_fee_value => 'Working days, 18 holes'})%>
            <%= render(:partial => '/fields/new_green_fee1', :locals => {:f => f, :green_fee_attributes_name => @new_green_fee_attributes_name, :green_fee_value => 'Weekend, 18 holes'})%>
          <% end %>
        </div>
      </div>
      <div class="green_fee">
        <div class="button_wrap">
          <div onclick="<%="$('#green_fees').append(#{render(:partial => '/fields/new_green_fee', :locals => {:f => f, :green_fee_attributes_name => @new_green_fee_attributes_name}).to_json})"%>" style="cursor: pointer;" class="green_button">+ add another</div>
        </div>
      </div>


      <div id="hit_places">
        <div class="hit_places_wrap">
					<div class="heading_places"><h1>Start places</h1></div>
					<span class="little_headings">Use this distance?</span>	
					<div class="clear"></div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Very short distance</p></div>
            <div class="color_dropdown">
              <%= f.select( :very_short_distance, START_PLACE_COLORS_USER, {:prompt => 'Select'},{:class => 'dropdown3 very_short_dropdown', :disabled => return_disabled(@field.very_short_distance), :onchange => "swapDistanceColor(this.value, 'very_short');"})%>
            </div>
          </div>
					<div class="enable_wrap">
						<%= render_checkbox('very_short', @field.very_short_distance)%>
		  		</div>
					<div class="clear"></div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Short distance</p></div>
            <div class="color_dropdown">
              <%= f.select( :short_distance, START_PLACE_COLORS_USER, {:prompt => 'Select'},{:class => 'dropdown3 short_dropdown', :disabled => return_disabled(@field.short_distance), :onchange => "swapDistanceColor(this.value, 'short');"})%>
            </div>
          </div>
					<div class="enable_wrap">
						<%= render_checkbox('short', @field.short_distance)%>
		  		</div>
					<div class="clear"></div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Normal distance</p></div>
            <div class="color_dropdown">
              <%= f.select( :normal_distance, START_PLACE_COLORS_USER, {:prompt => 'Select'},{:class => 'dropdown3 normal_dropdown', :disabled => return_disabled(@field.normal_distance), :onchange => "swapDistanceColor(this.value, 'normal');"})%>
            </div>
          </div>
					<div class="enable_wrap">
							<%= render_checkbox('normal', @field.normal_distance)%>
		  		</div>
					<div class="clear"></div>
          <div class="single_wrap">
            <div class="txt two_lines"><p>Long distance</p></div>
            <div class="color_dropdown">
              <%= f.select( :long_distance, START_PLACE_COLORS_USER, {:prompt => 'Select'},{:class => 'dropdown3 long_dropdown', :disabled => return_disabled(@field.long_distance), :onchange => "swapDistanceColor(this.value, 'long');"})%>
            </div>
          </div>
					<div class="enable_wrap">
						<%= render_checkbox('long', @field.long_distance)%>
		 			 </div>
		  		<div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="new_field_holes_wrap" style="float:left" >
      <div class="holes">
        <h1>Holes</h1>
        <div class="par">PAR</div>
        <div class="hcp">HCP</div>
        <div class="distance very_short_distance_header" style="<%= return_style(@field.very_short_distance)%>"> <%=return_color(@field, 1)%> </div>
        <div class="distance short_distance_header" style="<%= return_style(@field.short_distance)%>"><%=return_color(@field, 2)%> </div>
        <div class="distance normal_distance_header" style="<%= return_style(@field.normal_distance)%>"><%=return_color(@field, 3)%></div>
        <div class="distance long_distance_header" style="<%= return_style(@field.long_distance)%>"><%=return_color(@field, 4)%></div>
        <div class="clear"></div>

        <div id="holes">
          <% @field.holes.each do |hole| %>
            <%= render :partial => '/fields/new_hole', :locals => {:hole => hole, :field => @field, :f => f, :hole_attributes_name => @hole_attributes_name, :hole_number => hole.hole_number} %>

            <% hole_number = hole.hole_number %>
          <% end %>
        </div>
        <% hole_number ||= 0 %>

        <div class="add_hole">
          <script type="text/javascript">
            function append_new_hole(x) {
              var i = $('.current_hole_number:last').val();
              if(i === undefined) {
                i = 0;
                i = parseInt(i);
              }
						
              i = parseInt(i) + 1;
              $('#holes').append(x);
							showNewHoleFields();
              $('.current_hole_number:last').val(i);
              $('.hole_number_text:last').replaceWith(i+'.');
							if ( i == 18){
								$("#add_hole_button").hide();							
							}
            }
						
          </script>
					<% if hole_number != 18 %>
          <div onClick="append_new_hole(<%=render(:partial => '/fields/new_hole', :locals => {:field => @field, :f => f, :hole_attributes_name => @new_hole_attributes_name, :hole => Hole.new}).to_json %>)" class="green_button" style="margin-left:13px; cursor: pointer;" id="add_hole_button">+ add another</div>
					<% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="green_button_save_field" >
    <a href="#" class="green_button" style="margin-left:380px; margin-bottom:10px" onClick="checkFieldName()">Update Field</a>
    <%= link_to 'Back', edit_golf_club_path, :class => "green_button"%>
  </div>

<% end %>

<div class="pusher"></div>




