  <% hole ||= Hole.new %>
  <% hole_number ||= 0 %>
  <%= f.fields_for hole_attributes_name, hole do |h| %>
  <%= h.hidden_field :id unless hole.new_record? %>
  <%= h.hidden_field :hole_number, :value => hole_number %>


<div class="inputs">
            <div class="txt"><p><%=hole_number%>.</p></div>
            <%= h.text_field :par   %>
            <%= h.text_field :hcp %>
            <div class="green_button_image_field">
            <%= h.file_field (:image, :class => 'green_button') %>
            </div>
          </div>
  
  <% end %>