<%# hole ||= Hole.new %>
<%#= hole_number ||= 0 %>
<script type="text/javascript">
  
  $(document).ready(function() {
    $(function(){ $(".hole_file_field").uniform(); });
  });
  
</script>
<%= f.fields_for hole_attributes_name,  hole do |h| %>
  <%= h.hidden_field :id unless hole.new_record? %>
  <%= h.hidden_field :hole_number, :class => 'current_hole_number' %>

  <div class="inputs" >
    <div class="txt"><p><div class="hole_number_text"><%= hole.hole_number.to_s + '.'%></div></p></div>

      <%= h.select( :par, (1..5), {:prompt => ' '},{:class => 'dropdown2'}) %>

      <%= h.select( :hcp, (0..36), {:prompt => ' '}, {:class => 'dropdown2'})%>
    
      <%= h.text_field :distance, :class => 'price'%>
   
    <div class="file_upload_input"> <%= h.file_field( :image,{:class => "hole_file_field"}) %></div>
    <!-- <a href="#" class="green_button" onclick="$('.field_hole_image').click();">Augaupldt bildi</a>
    -->       

  </div>
<% end %>


