<% hit_place ||= HitPlace.new %>
<%= f.fields_for hit_place_attributes_name, hit_place do |hp| %>
  <%= hp.hidden_field :id unless hit_place.new_record? %>
  <div class="hit_places_wrap">
    <h1>Hit places</h1>

    <div class="single_wrap">
      <div class="txt two_lines"><p>Very short distance</p></div>
      <div class="color_dropdown">
        <%=  hp.select( :very_short_distance, START_PLACE_COLORS, {:prompt => "select"},{:class => 'dropdown3'})%>
      </div>
    </div>
    <div class="single_wrap">
      <div class="txt two_lines"><p>Very short distance</p></div>
      <div class="color_dropdown">
        <%=  hp.select( :short_distance, START_PLACE_COLORS, {:prompt => "select"},{:class => 'dropdown3'})%>
      </div>
    </div>
    <div class="single_wrap">
      <div class="txt two_lines"><p>Very short distance</p></div>
      <div class="color_dropdown">
        <%=  hp.select( :normal_distance, START_PLACE_COLORS, {:prompt => "select"},{:class => 'dropdown3'})%>
      </div>
    </div>
    <div class="single_wrap">
      <div class="txt two_lines"><p>Very short distance</p></div>
      <div class="color_dropdown">
        <%=  hp.select( :long_distance, START_PLACE_COLORS, {:prompt => "select"},{:class => 'dropdown3'})%>
      </div>
    </div>




  </div>
<% end %>
<%= render :partial => '/fields/new_hit_place', :locals => {:hit_place => hit_place, :f => f, :hit_place_attributes_name => @hit_place_attributes_name} %>