<%= render :partial => 'share/header_menu' %>

    
      <div class="club_wrap">
    <div class="club_info_wrap">
      <h1><%=@golf_club.name%></h1>
      <p><span class="gray"><%=@golf_club.city%>, <%=@golf_club.region%></span></p>
      <p><span class="gray"><%=@golf_club.web_page%></span></p>
      <p><a href="/club/edit">Rediģēt kluba info</a>   </p>
    </div>
      </div>
<%= render :partial => 'fields/list', :class => "green_button", :locals => {:golf_club => @golf_club, :fields => @golf_club.fields } %> 