<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "my_club"} %>
<div class="background_fix2" > 


  <% if flash.count > 0 %>
    <div class="info" style="display:block;">
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
        <%= content_tag :script, :type => "text/javascript" do -%>
          setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
        <% end %>
      <% end %>
    </div>
  <% end %>

<%= render :partial => 'golf_club/links_menu'%>
  <%= render 'form' %>
</div> 

