<%= render :partial => 'share/header_menu' %>
<div class="background_fix2" > 
  <h1>New field</h1>
<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
  <%= content_tag :script, :type => "text/javascript" do -%>
    setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
  <% end %>
<% end %>
 

<%= render 'form' %>
 </div> 
<%#= link_to 'Back', edit_golf_club_path %>
