<%= form_for user_session, :url => { :action => "create", :controller => "user_sessions"  }, :html => {:name => "new_user_session_login" } do |f| %>

  <%=  f.error_messages %>

  <div class="input_wrap">
    <p><%=  f.label :email %></p><%=  f.text_field :email %>
  </div>

  <div class="input_wrap">
    <p><%=  f.label :password %></p><%=  f.password_field :password %>
  </div>

  <div class="input_wrap">
    <a href="#" onclick="document.new_user_session_login.submit()" class="main_login_button" >Login</a>
    <button type="submit" style="display: none;"></button>
  </div>

  <div class="clear"></div>

  <%#=  f.check_box :remember_me %>
  <%#=  f.label :remember_me %>

<% end %>