<script type="text/javascript">
	$(document).ready(function() {
		$("#user_session_password").keydown(function(e) {
			if(e.keyCode == 13)
			{document.new_user_session_login.submit();}		
		});
	});
</script>
<div id="login_fields">
<%= form_for user_session, :url => { :action => "create", :controller => "user_sessions"  }, :html => {:name => "new_user_session_login" } do |f| %>

  <%=  f.error_messages %>

  <div class="input_wrap">
    <p><%=  f.label :email %></p><%=  f.text_field :email %>
  </div>

  <div class="input_wrap">
    <p><%=  f.label :password %></p><%=  f.password_field :password %>
  </div>

  <div class="input_wrap">
    <a href="#" onclick="document.new_user_session_login.submit()" class="main_login_button" >Login</a>
    <button type="submit" style="display: none;"></button>
  </div>

 

  <%#=  f.check_box :remember_me %>
  <%=  link_to "Forgot Password?", new_password_reset_url, :remote => true %>

<% end %>
</div>

<div id="email_input_fields" style="display:none">
	<%= form_tag({:action => "create", :controller => "password_resets"}, {:remote => true, :name => "new_password_reset"}) do %>
		<div class="input_wrap">
    <p><%=  label_tag :email %></p><%= text_field_tag :email %>
  </div>
	<div class="input_wrap">
    <a href="#" onclick="document.new_password_reset.submit()" class="main_login_button" >Request password</a>
    <button type="submit" style="display: none;"></button>
  </div>
	<%end%>
</div>
 <div class="clear"></div>
