
  <div class="game_list_percentage_wrap">
    <div class="heading">
      <p>Your Games:</p>
    </div>
    <div class="single_game_field" style="cursor: pointer;" onclick="document.location.href = '/games'">
      <p>Previous Games</p>
    </div>
    <div id="screen">

      <div class="link_left_wrap carousel-control previous carousel-previous">
        <a href="#" class="prev"><img src="/images/link_left_big.png" alt=""/></a>
      </div>
      <div id="slideshow">
        <ul>
          <% @user_params_games_limited.each do |user_params_games| %>
            <li>
              <a href="<%= get_stats_remote_path(user_params_games.id) %>" data-remote="true">
                <div class="single_game_field">
                  <%  @GSG = GameStatisticGeneral.where(:game_id => user_params_games.id).first %>

                  <% if @GSG != nil %>
                    <div class="percentage"><p><%= " #{@GSG.game_progress}%"%></p></div>
                    <div class="date"><p><%= Game.find(user_params_games.id).date.strftime("%m.%d.%Y") %> </p></div>
                  <% else %>
                    <div class="percentage"><p><%= MAIN_STATISTIC_BAD_SIMBOL %> </p></div>
                    <div class="date"><p><%= Game.find(user_params_games.id).date.strftime("%m.%d.%Y") %> </p></div>
                  <% end %>

                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="link_right_wrap carousel-control next carousel-next">
        <a href="#" class="next"><img src="/images/link_right_big.png" alt=""/></a>
      </div>
    </div>
  </div>
<div id="game_stats"></div>



