<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- Place =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<div class="clear"></div>
<div class="situation_type">
  <span onclick="showHideElement('#place')">
    <div class="name_wrap">
      <p>Place</p>
      <img src="/images/link_right_small.png" alt=""/>
    </div>
    <div class="info_wrap">
      <img src="/images/table_icon_location.png" alt=""/>
      <div class="description">
        <p>Place, where the hit took place</p>
      </div>
    </div>
  </span>
  <div class="single_situation" id="place" >



    <!-- ========================================= place_teebox ========================================= -->
    <div class="name">
      <p>Teebox</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_teebox_hint_",
          :current_situation_hint => @c_hint_user.place_teebox_hint.to_s,
          :current_situation => @c_s_stick.place_teebox.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_teebox ========================================= -->




    <!-- ========================================= place_feairway ========================================= -->
    <div class="name">
      <p>Feairway</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_feairway_hint_",
          :current_situation_hint => @c_hint_user.place_feairway_hint.to_s,
          :current_situation => @c_s_stick.place_feairway.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_feairway ========================================= -->




    <!-- ========================================= place_next_fairway ========================================= -->
    <div class="name">
      <p>Next Feairway</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_next_fairway_hint_",
          :current_situation_hint => @c_hint_user.place_next_fairway_hint.to_s,
          :current_situation => @c_s_stick.place_next_fairway.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_next_fairway ========================================= -->




    <!-- ========================================= place_semi_raf ========================================= -->
    <div class="name">
      <p>Semi Raf</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_semi_raf_hint_",
          :current_situation_hint => @c_hint_user.place_semi_raf_hint.to_s,
          :current_situation => @c_s_stick.place_semi_raf.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_semi_raf ========================================= -->





    <!-- ========================================= place_raf ========================================= -->
    <div class="name">
      <p>Raf</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_raf_hint_",
          :current_situation_hint => @c_hint_user.place_raf_hint.to_s,
          :current_situation => @c_s_stick.place_raf.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_raf ========================================= -->





    <!-- ========================================= place_for_green ========================================= -->
    <div class="name">
      <p>For Green</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_for_green_hint_",
          :current_situation_hint => @c_hint_user.place_for_green_hint.to_s,
          :current_situation => @c_s_stick.place_for_green.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_for_green ========================================= -->







    <!-- ========================================= place_green ========================================= -->
    <div class="name">
      <p>Green</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_green_hint_",
          :current_situation_hint => @c_hint_user.place_green_hint.to_s,
          :current_situation => @c_s_stick.place_green.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_green ========================================= -->







    <!-- ========================================= place_fairway_sand ========================================= -->
    <div class="name">
      <p>Fairway Sand</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_fairway_sand_hint_",
          :current_situation_hint => @c_hint_user.place_fairway_sand_hint.to_s,
          :current_situation => @c_s_stick.place_fairway_sand.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_fairway_sand ========================================= -->









    <!-- ========================================= place_green_sand ========================================= -->
    <div class="name">
      <p>Green Sand</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_green_sand_hint_",
          :current_situation_hint => @c_hint_user.place_green_sand_hint.to_s,
          :current_situation => @c_s_stick.place_green_sand.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_green_sand ========================================= -->




    <!-- ========================================= place_wood ========================================= -->
    <div class="name">
      <p>Wood</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_wood_hint_",
          :current_situation_hint => @c_hint_user.place_wood_hint.to_s,
          :current_situation => @c_s_stick.place_wood.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_wood ========================================= -->





    <!-- ========================================= place_from_water ========================================= -->
    <div class="name">
      <p>From Water</p>
    </div>
    <% @user_sticks.each do |c_stick|%>
      <% @c_s_stick = @statistic.find_by_stick_id(c_stick.stick.id) %>
      <% @conditions_user = {:user_id => @user_params.coach, :stick_id => c_stick.stick.id} %>
      <% @conditions_admin = {:user_id => current_user.id, :stick_id => c_stick.stick.id} %>
      <% @c_hint_admin = Hint.find(:first, :conditions => @conditions_admin) || Hint.new(@conditions_admin) %>
      <% @c_hint_user = Hint.find(:first, :conditions => @conditions_user) || Hint.new(@conditions_user) %>
      <%= render(:partial => 'statistic/main_statistic_loop_form', :locals => {
          #===================================
          :hint_id_prefix => "place_from_water_hint_",
          :current_situation_hint => @c_hint_user.place_from_water_hint.to_s,
          :current_situation => @c_s_stick.place_from_water.to_i,
          #===================================
          :user_sticks => @user_sticks,
          :c_s_stick => @c_s_stick,
          :c_stick => c_stick,
          :statistic => @statistic,
          :user_params => @user_params,
          :c_hint_admin => @c_hint_admin,
          :c_hint_user => @c_hint_user,
          :is_admin_and_coach => @is_admin_and_coach,
          :is_admin => @is_admin,
          :current_club_trainer => @current_club_trainer })%>
    <% end %>
    <div class="clear"></div>
    <!-- ========================================= place_from_water ========================================= -->





  </div>
  <div class="clear"></div>
  <div class="bottom_line"></div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- place =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->








<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- stance =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<div class="clear"></div>
<div class="situation_type">
  <span onclick="showHideElement('#stance')">
    <div class="name_wrap">
      <p>Stance</p>
      <img src="/images/link_right_small.png" alt=""/>
    </div>
    <div class="info_wrap">
      <img src="/images/table_icon_location.png" alt=""/>
      <div class="description">
        <p>Stance in wich the stroke was made</p>
      </div>
    </div>
  </span>
  <div class="single_situation" id="stance" >





  </div>
  <div class="clear"></div>
  <div class="bottom_line"></div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- stance =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->






  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- direction =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#direction')">
      <div class="name_wrap">
        <p>Direction</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Direction of the ball</p>
        </div>
      </div>
    </span>
    <div class="single_situation" id="direction" >





    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- direction =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->






  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- temperature =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#temperature')">
      <div class="name_wrap">
        <p>Temperature</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Temperature during the game</p>
        </div>
      </div>
    </span>
    <div class="single_situation" id="temperature" >



    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- temperature =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->



  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- weather =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#weather')">
      <div class="name_wrap">
        <p>Weather</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Weather during the game</p>
        </div>
      </div>
    </span>
    <div class="single_situation" id="weather" >





    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- weather =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->




  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- trajectory =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#trajectory')">
      <div class="name_wrap">
        <p>Trajectory</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Trajectory of the ball</p>
        </div>
      </div>
    </span>
    <div class="single_situation" id="trajectory" >




    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- trajectory =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->





  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- Wind =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#wind')">
      <div class="name_wrap">
        <p>Wind</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Wind during the game</p>
        </div>
      </div>
    </span>

    <div class="single_situation" id="wind" >




    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- wind =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->





  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- green_strength =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class="clear"></div>
  <div class="situation_type">
    <span onclick="showHideElement('#green_strength')">
      <div class="name_wrap">
        <p>Strength</p>
        <img src="/images/link_right_small.png" alt=""/>
      </div>
      <div class="info_wrap">
        <img src="/images/table_icon_location.png" alt=""/>
        <div class="description">
          <p>Wind during the game</p>
        </div>
      </div>
    </span>

    <div class="single_situation" id="green_strength" >





    </div>
    <div class="clear"></div>
    <div class="bottom_line"></div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=- green_strength =-=-=-=-=-=-=-=-=-=-=-=-=-=- -->


</div>