
<div class="progress_block">
  <!-- ============== hint ============== -->
  <div class="tip_bubble_wrap" id="<%= hint_id_prefix %><%=  c_stick.id %>" style="display: none;">
    <div class="triangle"></div>
    <div class="frame">
      <% if @is_admin || @is_coach %>
        <% if @user_params.id != current_user.id %>
          <p><%= "Give hint to (#{@user_params.first_name} #{@user_params.last_name}) for this situation." %> </p>
        <% else %>
          <p>Give hint for this situation.</p>
        <% end %>
        <div class="tip">
          <%= form_for c_hint_user, :html => { :onsubmit=> ""}, :url => update_hints_statistic_path do |f|  %>
            <%#= f.text_area :wind_from_right_hint, :class => "textarea" %>
						<% if current_situation_hint == "" %>
            	<%= f.text_area textbox_hint_type, :class => "textarea", :value => current_situation_hint_admin %>
						<% else %>
							<%= f.text_area textbox_hint_type, :class => "textarea" %>
						<% end %>
            <%= f.hidden_field :stick_id %>
            <%= f.submit :class => "button_save" %>
          <% end %>
        </div>
      <% else %>
        <p><%= "Coach #{fetch_coach(user_params.coach)} hint for this situation."  %></p>
        <div class="tip">
          <p><%= current_situation_hint %></p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- ============== hint ============== -->
  <%  unless current_situation == 0 %>
    <!-- ============== show progress ============== -->
    <div class="progress_bar">
      <div class="progress_active <%= swap_bar_color(current_situation) %>" style="width:<%= "#{current_situation}%"%>">
        <div class="percentage">
          <p><%= "#{current_situation}%"%></p>
        </div>
      </div>
    </div>
    <!-- ============== show progress ============== -->
  <% else %>
    <div class="no_value"><p><%= MAIN_STATISTIC_BAD_SIMBOL %></p></div>
  <% end %>
  <!-- ============== when to show hint ============== -->
  <% if @is_admin %>
    <div class="notification" onclick="showHideElement('#<%= hint_id_prefix %><%= c_stick.id %>')"><img src="/images/tip_icon.png" alt=""/></div>
  <% elsif @has_couch && current_situation_hint != "" %>
    <div class="notification" onclick="showHideElement('#<%= hint_id_prefix %><%= c_stick.id %>')"><img src="/images/tip_icon.png" alt=""/></div>
  <% end %>
  <!-- ============== when to show hint ============== -->
</div>
