
<div class="short_statistics_wrap">
  <div id="mini_statistics_wrap_render">
    <div class="top_three">
      <div class="left_text">
        <p>GIR:<br />Puts:<br />Strokes:</p>
      </div>

      <div class="right_text">
        <p><%= @gir %><br /><%= @puts %><br /><%= @strokes %></p>
      </div>
    </div>


    <div class="top_three">
      <p>TOP FAIL</p>
      <div class="left_text">
        <p>
          <% @top_fail.each do |top_fail| %>
            <%= Stick.find(top_fail.stick_id).stick_type %>:<br/>
          <% end %>
        </p>
      </div>

      <div class="right_text">
        <p>
          <% @top_fail.each do |top_fail| %>
            <%= "#{top_fail.stick_progres}%" %><br/>
          <% end %>
        </p>
      </div>
    </div>

    <div class="top_three">
      <p>TOP GOOD</p>
      <div class="left_text">
        <p>
          <% @top_good.each do |top_good| %>
            <%= Stick.find(top_good.stick_id).stick_type %>:<br/>
          <% end %>
        </p>
      </div>

      <div class="right_text">
        <p>
          <% @top_good.each do |top_good| %>
            <%= "#{top_good.stick_progres}%" %><br/>
          <% end %>
        </p>
      </div>
    </div>

    <% unless @top_sticks.count == 0 %>
      <div class="top_three">
        <p>TOP NŪJAS</p>
        <div class="left_text">
          <p>
            <% @top_sticks.each do |top_stick|%>
              <%= top_stick.users_stick.stick.stick_type %>:<br />
            <% end %>
          </p>
        </div>

        <div class="right_text">
          <p>
            <% @top_sticks.each do |top_stick|%>
              <%= Hit.where(:stick_id =>  top_stick.users_stick.stick_id).count %><span class="gray">x</span><br />
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

  </div>


  <% if @user_params.golf_club && Field.where(:golf_club_id => @user_params.golf_club_id).count != 0 %>
    <div class="club_stats">
      <div class="info_text">
        <p>Your place in field <%= "''#{GolfClub.find(@user_params.golf_club_id)}''"  %> </p>
      </div>
      <div class="form_dropdowns">
        <% form_tag('/user_place_in_golf_club', :method => 'post', :remote => true, :id => "user_place_in_golf_club") do %>
          <%= select_tag "field_id", options_from_collection_for_select(Field.where(:golf_club_id => @user_params.golf_club_id), "id", "name"), {:class => "dropdown5", :onchange => "user_place_in_golf_club()"} %>
          <%= select_tag("hcp", options_for_select(0..36), {:include_blank => "HCP", :id => "place_in_club_hcp", :class => "dropdown3", :onchange => "user_place_in_golf_club()"}) %>
          <%= hidden_field_tag "user_id", @user_params.id %>
        <% end %>
      </div>

      <div id="user_place_in_golf_club_div">

        <!-- pec filtracijas saja diva paradas user saraksts-->
      </div>

      <!--
      <div class="lists">
        <p>1. Edgars Upītis<br />2. Jānis Kļava<br />3. Artūrs Pakalns</p>
      </div>
      <div class="lists">
        <p>4. Kārlis Padegs<br />5. Vilhelms Purvītis<br />6. Jāzeps Vītols</p>
      </div>
      <div class="lists">
        <p>7. Viktors Ņičivosebejs<br />8. Edgars Upītis<br />9. Edgars Upītis</p>
      </div>
      -->
    </div>
  <% end %>
</div>

