<%= render :partial => 'share/header_menu' %>

<!-- ================================= top mini stats ============================ -->
<%= render :partial => 'statistic/mini_statistic_top' %>
<!-- ============================ top mini stats ============================ -->


<!-- ================================= top mini stats ============================ -->
<%= render :partial => 'statistic/mini_statistic_top' %>
<!-- ============================ top mini stats ============================ -->


<!-- ============================ games ============================ -->
<div class="game_list_percentage_wrap">
  <div class="heading">
    <p>Tavas spēles:</p>
  </div>
  <a href="#"><div class="single_game_field">
      <p>Visu spēļu statistika</p>
    </div></a>


  <div class="link_left_wrap carousel-control previous carousel-previous">
    <a href="#"><img src="/images/link_left_big.png" alt=""/></a>
  </div>


  <div class="carousel-wrap">
    <ul id="slider">

      <% @user_params_games.each do |user_params_games| %>
        <li>
          <a href="<%= get_stats_path(user_params_games.id) %>">
            <div class="single_game_field">
              <%  @GSG = GameStatisticGeneral.where(:game_id => user_params_games.id).first %>

              <% if @GSG != nil %>
                <div class="percentage"><p><%= " #{@GSG.game_progress}%"%></p></div>
                <div class="date"><p><%= Game.find(user_params_games.id).updated_at.strftime("%m.%d.%Y") %> </p></div>
              <% else %>
                <div class="percentage"><p><%= MAIN_STATISTIC_BAD_SIMBOL %> </p></div>
                <div class="date"><p><%= Game.find(user_params_games.id).updated_at.strftime("%m.%d.%Y") %> </p></div>
              <% end %>

            </div>
          </a>
        </li>
      <% end %>

    </ul>

    <!--

     <a href="#">text
          <div class="single_game_field">
            <div class="percentage"><p>60%</p></div>
            <div class="date"><p>01.02.03</p></div>
          </div>
        </a>

    -->



  </div>

  <div class="link_right_wrap carousel-control next carousel-next">
    <a href="#"><img src="/images/link_right_big.png" alt=""/></a>
  </div>

</div>
<!-- ============================ games ============================ -->





<!-- ============================ sticks ============================ -->

<div class="main_stats_table_wrap">


  <div> <!-- MAIN statistikas divs -->

    <% if @user_sticks.count > 0 && @statistic.count > 0 %>
  <%#= if current_user.sticks.count > 0 && Statistic.where(:user_id == current_user.id).count > 0  && current_user.golf_club != nil%>

      <div class="clubs_wrap">
        <div class="page_left">
          <a href="#"><img src="/images/link_left_big.png" alt=""/></a>
        </div>

        <% @user_sticks.each do |stick| %>

          <% @stats = AllStickStatistic.find(:first, :conditions => {:stick_id => stick.stick_id, :user_id => @user_params.id})%>

          <div class="single_club_wrap">

            <div class="club_name">
              <p><%=  stick.stick.stick_type %></p>
            </div>

            <div class="progress_bar">
              <% unless @stats.stick_progres == nil %>
                <%  if @stats.stick_progres < MAIN_STATISTIC_BAD_PROC %>
                  <div class="progress_active bad" style="width:<%= "#{@stats.stick_progres}%;" %>"></div>
                <%else%>
                  <div class="progress_active normal" style="width:<%= "#{ @stats.stick_progres}%;"%>"></div>
                <%end%>
              <%end%>
            </div>

            <div class="info">
              <p>
                USAGE:
                <% unless @stats.usage == nil %>
                  <%="#{@stats.usage}%" %>
                <% else %>
                  N/A
                <% end %>
                <br />
                AVG:
                <% unless @stats.avg_distance == nil %>
                  <%="#{@stats.avg_distance}m"%>
                <%  else %>
                  N/A
                <% end %>
              </p>
            </div>
          </div>


        <% end %>




        <div class="page_left">
          <a href="#"><img src="/images/link_right_big.png" alt=""/></a>
        </div>
      </div>
      <!-- ============================ sticks ============================ -->

      <!-- ============================ main stats ============================ -->
      <%= render :partial => 'statistic/main_statistic' %>
      <!-- ============================ main stats ============================ -->



      <div class="clear"></div>
      <% if PairHit.where(:user_id => @user_params.id).count == 0 %>
        <div style="display: block; border: solid 1px red; padding: 10px; margin: 10px;">
          Filtering statistic is not available for the moment
        </div>
      <% else %>
        <!-- ============================ filter stats ============================ -->
        <div class="result_filtering">
          <div class="dropdown_wrap">
            <h1>Filtrēt rezultātus</h1>
            <div class="form_dropdowns">


              <div id="table_filter_wrap">
                <% form_tag('/filter_statistic', :method => 'post', :remote => true, :id => "filter_statistic_form") do %>

                  <%= select_tag "field_id", options_from_collection_for_select(Field.where(:golf_club_id => @user_params.golf_club_id), "id", "name"), {:class => "dropdown7"} %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("place_from", options_for_select(STATISTICS_PLACE_FROM), {:include_blank => "Place",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("stance", options_for_select(STATISTICS_STANCE), {:include_blank => "Stance",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("direction", options_for_select(STATISTICS_DIRECTION), {:include_blank => "Direction",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("temperature", options_for_select(STATISTICS_TEMPERATURE), {:include_blank => "Temperature",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("weather", options_for_select(WEATHER), {:include_blank => "Weather",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("trajectory", options_for_select(STATISTICS_TRAJECTORY), {:include_blank => "Trajectory",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <%= select_tag("wind", options_for_select(STATISTICS_WIND), {:include_blank => "Wind",:class => "dropdown7"}) %>
                  <div class="clearblock_dropdowns"></div>

                  <input type="hidden" id="user_id_for_filter" value="<%=  @user_params.id %>"/>

                  <%= hidden_field_tag "user_id", @user_params.id %>

                <% end %>
              </div>
            </div>
          </div>

          <div id="filter_statistic">
            <%= render :partial => 'statistic/filter_statistic' %>
          </div>
        </div>
        <!-- ============================ filter stats ============================ -->

      <% end %>

    <% else %> <div class="error" style="display: block;">Stick statistic is not available for a moment. Please wait.</div> <% end %>
  </div> <!-- MAIN statistikas divs -->
</div>
