<%= link_to "home", welcome_path %>

<br /><br />
Main Statistic
<hr />
<br /><br />
<% @statistic.each do |s| %>
  <ul>
    <li>Statistic id: <%=  s.id %>
      <ul>
        <li>User: <%=  User.find(s.user_id).id  %>
          <ul>
            <li>Stick: <%= Stick.find(s.stick_id).id %>
              <ul>
                <li>place_teebox: <%= s.place_teebox || "N/A" %></li>
                <li>place_feairway: <%= s.place_feairway || "N/A" %></li>
                <li>place_next_fairway: <%= s.place_next_fairway || "N/A" %></li>
                <li>place_semi_raf: <%= s.place_semi_raf || "N/A" %></li>
                <li>place_raf: <%= s.place_raf || "N/A" %></li>
                <li>place_for_green: <%= s.place_for_green || "N/A" %></li>
                <li>place_green: <%= s.place_green || "N/A" %></li>
                <li>place_fairway_sand: <%= s.place_fairway_sand || "N/A" %></li>
                <li>place_green_sand: <%= s.place_green_sand || "N/A" %></li>
                <li>place_wood: <%= s.place_wood || "N/A" %></li>
                <li>place_from_water: <%= s.place_from_water || "N/A" %></li>

                <li>stance_normal: <%= s.stance_normal %></li>
                <li>stance_right_leg_lower: <%= s.stance_right_leg_lower || "N/A" %></li>
                <li>stance_left_leg_lower: <%= s.stance_left_leg_lower || "N/A" %></li>
                <li>stance_ball_lower: <%= s.stance_ball_lower || "N/A" %></li>
                <li>stance_ball_higher: <%= s.stance_ball_higher || "N/A" %></li>

                <li>direction_straigth: <%= s.direction_straigth || "N/A" %></li>
                <li>direction_fade: <%= s.direction_fade || "N/A" %></li>
                <li>direction_drow: <%= s.direction_drow || "N/A" %></li>
                <li>direction_slice: <%= s.direction_slice || "N/A" %></li>
                <li>direction_hook: <%= s.direction_hook || "N/A" %></li>

                <li>temperature_cold: <%= s.temperature_cold || "N/A" %></li>
                <li>temperature_normal: <%= s.temperature_normal || "N/A" %></li>
                <li>temperature_hot: <%= s.temperature_hot || "N/A" %></li>

                <li>weather_normal: <%= s.weather_normal || "N/A" %></li>
                <li>weather_wind: <%= s.weather_wind || "N/A" %></li>
                <li>weather_rain: <%= s.weather_rain || "N/A" %></li>
                <li>weather_wind_and_rain: <%= s.weather_wind_and_rain || "N/A" %></li>

                <li>trajectory_normal: <%= s.trajectory_normal || "N/A" %></li>
                <li>trajectory_high: <%= s.trajectory_high || "N/A" %></li>
                <li>trajectory_low: <%= s.trajectory_low || "N/A" %></li>

                <li>wind_from_behind: <%= s.wind_from_behind || "N/A" %></li>
                <li>wind_from_front: <%= s.wind_from_front || "N/A" %></li>
                <li>wind_from_left: <%= s.wind_from_left || "N/A" %></li>
                <li>wind_from_right: <%= s.wind_from_right || "N/A" %></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
<% end %>

<br /><br />
Game statistic (order by holes)
<hr />
<br /><br />


<% @GameStatisticsByHoles.each do |s| %>

  <ul>
    <li>game_id: <%= s.game_id || "N/A" %></li>
    <ul>
      <li>User_id: <%= s.user_id %>
      <li>fields_id: <%= s.field_id || "N/A" %></li>
      <li>hit_sum: <%= s.hit_sum || "N/A" %></li>
      <li>gir_sum: <%= s.gir_sum || "N/A" %></li>
      <li>hole_number: <%= s.hole_number || "N/A" %></li>
      <li>hit_p: <%= s.hit_p || "N/A" %></li>
      <li>hit_r: <%= s.hit_r || "N/A" %></li>
      <li>puts_p: <%= s.puts_p || "N/A" %></li>
      <li>puts_r: <%= s.puts_r || "N/A" %></li>
      <li>stick_order_p: <%= s.stick_order_p || "N/A" %></li>
      <li>stick_order_r: <%= s.stick_order_r || "N/A" %></li>
    </ul>
  </ul>

<% end %>

<br /><br />
Game statistic (order by holes)
<hr />
<br /><br />
