<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang="en" lang="en">

  <head>
    <title>Golfs</title>
    <%= csrf_meta_tag %>
		
    <%= stylesheet_link_tag "jquery.ui.theme" %>
    <%= stylesheet_link_tag "jquery.ui.base" %>
    <%= stylesheet_link_tag "jquery.ui.selectable" %>
    <%= stylesheet_link_tag "home_page" %>
    <%= stylesheet_link_tag "game_input" %>
    <%= stylesheet_link_tag "stylesheet" %>
    <%= stylesheet_link_tag "profile_input" %>
    <%= stylesheet_link_tag "bag" %>
    <%= stylesheet_link_tag "new_field" %>
    <%= stylesheet_link_tag "my_club" %>
    <%= stylesheet_link_tag "my_games_stylesheet" %>
    <%= stylesheet_link_tag "single_game_statistics" %>
    <%= stylesheet_link_tag "print" %>
		<%= stylesheet_link_tag "add_article"%>

    <%= stylesheet_link_tag "serialScroll" %>
    <%= stylesheet_link_tag "jquery.ui.progressbar" %>
    <%= stylesheet_link_tag "jquery.ui.resizable" %>
    <%= stylesheet_link_tag "jquery.ui.selectable" %>
    <%= stylesheet_link_tag "jquery.ui.selectmenu" %>
    <%= stylesheet_link_tag "jquery.ui.slider" %>
    <%= stylesheet_link_tag "jquery.ui.tabs" %>
    <%= stylesheet_link_tag "jquery.ui.theme" %>
    <%= stylesheet_link_tag "jquery.ui.accordion" %>
    <%= stylesheet_link_tag "jquery.ui.all" %>
    <%= stylesheet_link_tag "jquery.ui.autocomplete" %>
    <%= stylesheet_link_tag "jquery.ui.base" %>
    <%= stylesheet_link_tag "jquery.ui.button" %>
    <%= stylesheet_link_tag "jquery.ui.datepicker" %>
    <%= stylesheet_link_tag "jquery.ui.dialog" %>
		<%= stylesheet_link_tag "jquery.jscrollpane" %>
    <%= stylesheet_link_tag "game_menu_slider" %>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.serialScroll-min" %>
    <%= javascript_include_tag "jquery.scrollTo-min" %>
    <%= javascript_include_tag "jquery.ui.widget" %>
		<%= javascript_include_tag "jquery.jscrollpane.min" %>
    <%= javascript_include_tag "toggle" %>
    <%= javascript_include_tag "forms" %>
    <%= javascript_include_tag "timepicker-addon" %>

    <%= javascript_include_tag "jquery.ui.widget" %>
    <%= javascript_include_tag "jquery.ui.position" %>
    <%= javascript_include_tag "jquery.ui.selectmenu" %>
    <%= javascript_include_tag "jquery.ui.core" %>
    <%= javascript_include_tag "jquery.uniform" %>
		<%= javascript_include_tag "jquery.live_maxlen" %>
    <%= stylesheet_link_tag 'login_or_register' %>
    <%= stylesheet_link_tag "uniform.default"%>
	
    
  </head>
  <body>

    <div class="site_wrapper">
      <div class="header_wrap">
			<% if current_user %>	
					<% if current_user.golf_club && current_user.golf_club.is_t_banner_disabled == false %>
						<div class="header_banner_left">
							<%= image_tag(current_user.golf_club.image_t.url)%>
						</div>
						<div class="header_banner_right">
				
						<% if current_user.golf_club %>
  						<%  if current_user.golf_club.is_p_banner_disabled == false%>
    						
      						<img src="<%=current_user.golf_club.image_p.url%>" alt=""  width="900px" height="100px"/>
    						
  						<%  elsif current_user.golf_club.is_f_banner_disabled == false %>
    						
      						<img src="<%=current_user.golf_club.image_f.url%>" alt=""  width="900px" height="100px"/>
    						
  						<% elsif current_user.golf_club.is_f_banner_disabled == true && current_user.golf_club.is_p_banner_disabled == true %>
  						<%  end %>
						<%  end %>
						</div>
					<% else %>
						<div class="logo_wrap"></div>				
					<% end %>
			<% end %>  
        <div class="login_wrap">
          <% unless current_user %>
            <%= render :partial=> 'user_sessions/form', :locals => {:user_session => UserSession.new} %>
          <% end %>
        </div>
      </div>
<div class="clear"></div>
      <%= yield %>



      <div class="clear"></div>
    </div>
    <div class="footer_wrap">
      <p>Lorem ipsum 2011</p>
    </div>
  </body>
</html>
